{% extends 'base.html.twig' %}

{% block title %}RGPD
{% endblock %}

{% block body %}
	<section>
		<div class="container-cgv">
			<h2 class="title-cgu">NOTICE DU TRAITEMENT DE DONNÉES PERSONNELLES</h2>

			<p class="content-mentions">


				Responsable du traitement
				<br>
				Le responsable du traitement de données personnelles est XXX [IDENTITÉ DE LA PERSONNE PHYSIQUE OU MORALE : cliquer ici pour sélectionner le modèle approprié].
				<br>

				Ses coordonnées sont les suivantes.
				<br>

				Téléphone : XXX [COMPLÉTER]
				<br>

				Adresse électronique : XXX [COMPLÉTER]
				<br>

				Site Internet : XXX [COMPLÉTER]
				<br>

				[OPTION SI APPLICABLE :
				<br>

				Représentant du responsable du traitement
				Le représentant du responsable du traitement est XXX [IDENTITÉ DE LA PERSONNE PHYSIQUE OU MORALE : cliquer ici pour sélectionner le modèle approprié].
				<br>

				Ses coordonnées sont les suivantes.
				<br>

				Téléphone : XXX [COMPLÉTER]
				<br>

				Adresse électronique : XXX [COMPLÉTER]
				<br>

				Site Internet : XXX [COMPLÉTER]
				<br>

				[FIN DE L’OPTION]]
				<br>

				[OPTION SI LE RESPONSABLE DU TRAITEMENT A NOMMÉ UN DPD / DPO :
				<br>

				Délégué à la protection des données
				Le délégué à la protection des données est XXX [IDENTITÉ DE LA PERSONNE PHYSIQUE OU MORALE : cliquer ici pour sélectionner le modèle approprié].
				<br>

				Ses coordonnées sont les suivantes.
				<br>

				Téléphone : XXX [COMPLÉTER]
				<br>

				Adresse électronique : XXX [COMPLÉTER]
				<br>

				Site Internet : XXX [COMPLÉTER]
				<br>

				[FIN DE L’OPTION]]
				<br>

				Finalités et base juridique du traitement
				[EXEMPLES DE MENTIONS : cf. Modèle de politique de traitement de données personnelles]
				<br>

				Le traitement de données personnelles est destiné à XXX [PRÉCISER LES FINALITÉS DU TRAITEMENT].
				<br>

				Il est effectué conformément à XXX [PRÉCISER LA BASE JURIDIQUE, PAR EXEMPLE : l’article XXX du règlement général sur la protection des données – RGPD (règlement UE 2016/679 du Parlement européen et du Conseil du 27 avril 2016)].
				<br>

				[OPTION SI LE TRAITEMENT EST FONDÉ SUR L’ARTICLE 6, PARAGRAPHE 1, POINT F) DU RGPD, C’EST-À-DIRE SI LE TRAITEMENT EST NÉCESSAIRE AUX FINS DES INTÉRÊTS LÉGITIMES POURSUIVIS PAR LE RESPONSABLE DU TRAITEMENT OU PAR UN TIERS :
				<br>

				Les intérêts légitimes poursuivis par le responsable du traitement [ou par XXX [IDENTIFICATION DU TIERS] sont les suivants : XXX [COMPLÉTER].
				<br>

				[FIN DE L’OPTION]]
				<br>

				Destinataires des données à caractère personnel
				Les XXX [DESTINATAIRES / CATÉGORIES DE DESTINATAIRES] des données sont : XXX [COMPLÉTER].
				<br>

				Transfert de données
				<br>

				Le responsable du traitement XXX [OPTION 1 : n’a pas // OPTION 2 : a] l’intention d’effectuer un transfert de données à caractère personnel vers un pays tiers ou à une organisation internationale.
				<br>

				XXX [EN CAS DE TRANSFERT, PRÉCISER L’EXISTENCE OU L’ABSENCE D’UNE DÉCISION D’ADÉQUATION RENDUE PAR LA COMMISSION OU, DANS LE CAS DES TRANSFERTS VISÉS À L’ARTICLE 46 OU 47, OU À L’ARTICLE 49, PARAGRAPHE 1, DEUXIÈME ALINÉA, DU RGPD, LA RÉFÉRENCE AUX GARANTIES APPROPRIÉES OU ADAPTÉES ET LES MOYENS D’EN OBTENIR UNE COPIE OU L’ENDROIT OÙ ELLES ONT ÉTÉ MISES À DISPOSITION.]
				<br>

				Durée de conservation des données à caractère personnel
				Les données seront conservées XXX [OPTION 1 : pendant une durée de XXX à compter de leur collecte // OPTION 2 : XXX [S’IL N’EST PAS POSSIBLE D’INDIQUER LA DURÉE, PRÉCISER LES CRITÈRES UTILISÉS POUR LA DÉTERMINER].
				<br>

				Droits de la personne dont les données sont collectées
				La personne dont les données personnelles sont collectées a le droit :
				<br>

				– de demander au responsable du traitement l’accès aux données à caractère personnel, la rectifi­cation ou l’effacement de celles-ci, ou une limitation du traitement relatif à la personne concernée,
				<br>

				– de s’opposer au traitement,
				<br>

				– à la portabilité de ses données,
				<br>

				[OPTION SI LE TRAITEMENT EST FONDÉ SUR L’ARTICLE 6, PARAGRAPHE 1, POINT A), OU SUR L’ARTICLE 9, PARAGRAPHE 2, POINT A), C’EST-À-DIRE SUR LE CONSENTEMENT DE LA PERSONNE CONCERNÉE AU TRAITEMENT DE SES DONNÉES À CARACTÈRE PERSONNEL POUR UNE OU PLUSIEURS FINALITÉS SPÉCIFIQUES :
				<br>

				– de retirer son consentement à tout moment, sans porter atteinte à la licéité du traitement fondé sur le consentement effectué avant le retrait de celui-ci,]
				
				– d’introduire une réclamation auprès d’une autorité de contrôle.
				<br>

				Fondement de la demande de données et conséquences
				[EXEMPLES DE MENTIONS : cf. Modèle de politique de traitement de données personnelles]
				<br>

				La demande de données XXX [OPTION 1 : conditionne la conclusion d’un contrat // OPTION 2 : a un caractère contractuel // OPTION 3 : a un caractère réglementaire]. La personne concernée XXX [OPTION 1 : est // OPTION 2 : n’est pas] tenue de fournir les données. Si les données ne sont pas fournies, XXX [PRÉCISER LES CONSÉQUENCES ÉVENTUELLES].
				<br>

				Prise de décision automatisée – profilage
				XXX [OPTION 1 : Aucun profilage ne sera réalisé et plus généralement aucune décision automatisée ne sera prise sur la base des données collectées. // OPTION 2 : Des décisions automatisées seront prises sur la base des données collectées. La logique sous-jacente de ces décisions automatisées est la suivante : XXX [INFORMATIONS UTILES CONCERNANT LA LOGIQUE SOUS-JACENTE]. L’importance et les conséquences prévues de ce traitement pour la personne concernée sont les suivantes : XXX
			</p>
		</div>
	</section>


{% endblock %}
