<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez clicker sur le lien suivant</p>


<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>
	Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
{# Utilise la fonction de traduction trans pour afficher le message d'expiration du lien de réinitialisation. resetToken.expirationMessageKey et resetToken.expirationMessageData sont des données fournies par Symfony qui indiquent à l'utilisateur combien de temps le lien reste valide. #}


<p>A Bientôt ! &#x1F338; </p>

</p>


