{% extends 'base.html.twig' %}

{% block title %}Réinitialisez votre mot de passe
{% endblock %}


{% block body %}



 
    

<section class="form-container">
   {{ form_start(resetForm) }}

	{# <form action="" method="post"> #}
		<h3>Modifier mon mot de passe</h3>

		<input type="hidden" name="prev_pass" value="previous-password">


        {{ form_row(resetForm.plainPassword) }}

{# <div class="eye">
<div class="password-icon">
	<span class="material-symbols-outlined-eye-off">visibility_off</span>
	
	<span class="material-symbols-outlined-eye-on">visibility</span>
	<span class="displayEye"> afficher le mot de passe</span>
<span class="displayEye">
	cacher le mot de passe</span>

</div>
</div> #}

        <button class="btn btn-primary">Reset password</button>
		
	
	{# </form> #}
{{ form_end(resetForm) }}
</section>


{% endblock %}
