{% extends 'base.html.twig' %}

{% block title %}Success
{% endblock %}

{% block body %}
<section>
<div clas="container">
	<h1>Paiment annulé !
	</h1>
	<a href="{{ path('app_home') }}" class="btn">Retour</a>
</div>
</section>
{% endblock %}
