{% extends 'base.html.twig' %}

{% block title %}CGV
{% endblock %}

{% block body %}
	<section>
		<div class="container-cgv">

			<h1 class="title-mentions">Conditions Générales de Vente</h1>


			<div class="title-mentions-cgv">

				<h2 class="toggle" data-target="content1">
					<span class="arrow-icon">&#9660;</span>
					Introduction</h2>

			</div>
			<div id="content1" class="content-cgv">
				<p class="content-mentions">Les présentes Conditions Générales de Vente (CGV) régissent les transactions effectuées via le site [Nom du Site] ("le Site"). En utilisant le Site, vous acceptez les présentes CGV. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser le Site.</p>

			</p>
		</div>
		<div class="title-mentions-cgv">

			<h2 class="toggle" data-target="content2">
				<span class="arrow-icon">&#9660;</span>
				Objet</h2>

		</div>

		<div id="content2" class="content-cgv">
			<p class="content-mentions">Le Site permet aux utilisateurs de publier et de consulter des annonces de vente de livres entre particuliers. Le Site agit uniquement en tant qu'intermédiaire et n'est pas partie prenante des transactions entre acheteurs et vendeurs.</p>


		</div>

		<div class="title-mentions-cgv">

			<h2 class="toggle" data-target="content3">
				<span class="arrow-icon">&#9660;</span>
				Inscription</h2>

		</div>

		<div id="content3" class="content-cgv">

			<p class="content-mentions">Pour acheter ou vendre des livres sur le Site, les utilisateurs doivent créer un compte en fournissant des informations exactes et complètes. Chaque utilisateur est responsable de la confidentialité de ses identifiants de connexion.</p>


		</p>
	</div>

	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content4">
			<span class="arrow-icon">&#9660;</span>
			Publication d'Annonces</h2>

	</div>

	<div id="content4" class="content-cgv">
		<h3>Contenu des Annonces</h3>

		<p class="content-mentions">Les utilisateurs peuvent publier des annonces pour vendre des livres. Chaque annonce doit contenir des informations précises et complètes sur le livre, y compris le titre, l'auteur, l'état du livre, le prix de vente, et des photos claires du produit.</p>
		<h3>Frais de Publication</h3>
		<p class="content-mentions">La publication d'annonces peut être gratuite ou payante, selon les options choisies. Les frais applicables seront clairement indiqués avant la publication de l'annonce.</p>
	</div>

	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content5">
			<span class="arrow-icon">&#9660;</span>
			Achats</h2>

	</div>

	<div id="content5" class="content-cgv">


		<h3>Processus d'Achat</h3>

		<p class="content-mentions">Les acheteurs peuvent contacter les vendeurs directement via le Site pour finaliser les transactions. Le Site ne gère pas les paiements ni les livraisons, qui sont à la charge des parties concernées.</p>

		<h3>Prix et Paiement</h3>

		<p class="content-mentions">Le prix des livres est fixé par les vendeurs. Les modalités de paiement doivent être convenues entre l'acheteur et le vendeur. Le Site ne perçoit aucune commission sur les ventes.</p>

	</div>


	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content6">
			<span class="arrow-icon">&#9660;</span>
			Obligations des Parties</h2>


	</div>

	<div id="content6" class="content-cgv">


		<h3>Obligations du Vendeur</h3>


		<p class="content-mentions">Fournir des informations exactes et complètes sur le livre mis en vente.<br>
			Livrer le livre à l'acheteur dans les conditions convenues.<br>
			Respecter les droits des consommateurs et les lois en vigueur.</p>


		<h3>Obligations de l'Acheteur</h3>


		<p class="content-mentions">Payer le prix convenu au vendeur.<br>
			Fournir des informations exactes et complètes pour la livraison.</p>


	</div>

	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content7">
			<span class="arrow-icon">&#9660;</span>
			Droit de Rétractation</h2>


	</div>

	<div id="content7" class="content-cgv">

		<p class="content-mentions">Conformément aux dispositions légales, les acheteurs peuvent disposer d'un droit de rétractation de 14 jours à compter de la réception du livre, sauf pour les livres numériques ou personnalisés. Les modalités de retour et de remboursement doivent être convenues entre l'acheteur et le vendeur.</p>


	</div>

	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content8">
			<span class="arrow-icon">&#9660;</span>
			Litiges et Responsabilité</h2>


	</div>

	<div id="content8" class="content-cgv">

		<p class="content-mentions">Le Site n'est pas responsable des litiges entre acheteurs et vendeurs. En cas de problème, les parties doivent tenter de résoudre le litige à l'amiable. Le Site peut, à sa discrétion, fournir une assistance pour faciliter la résolution du litige, mais ne garantit pas de solution..</p>


	</div>

	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content9">
			<span class="arrow-icon">&#9660;</span>
			Protection des Données</h2>


	</div>

	<div id="content9" class="content-cgv">

		<p class="content-mentions">Les données personnelles des utilisateurs sont traitées conformément à notre Politique de Confidentialité. En utilisant le Site, vous consentez à la collecte et au traitement de vos données personnelles comme décrit dans cette politique.</p>


	</div>

	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content10">
			<span class="arrow-icon">&#9660;</span>
			Modification des CGV</h2>


	</div>

	<div id="content10" class="content-cgv">

		<p class="content-mentions">Nous nous réservons le droit de modifier ces CGV à tout moment. Nous vous informerons de tout changement significatif par le biais d'une notification sur le Site ou par e-mail. Votre utilisation continue du Site après la publication des modifications constitue votre acceptation des nouvelles CGV.</p>


	</div>

	<div class="title-mentions-cgv">

		<h2 class="toggle" data-target="content11">
			<span class="arrow-icon">&#9660;</span>
			Contact</h2>


	</div>

	<div id="content11" class="content-cgv">

		<p class="content-mentions">Pour toute question ou demande concernant ces CGV, veuillez nous contacter à :<br>

			[Nom de l'Entreprise]<br>
			[Adresse postale]<br>
			[Numéro de téléphone]<br>
			[Adresse e-mail de contact]</p>


	</div>

</div></section>{% endblock %}
