{% extends 'base.html.twig' %}

{% block title %}Hello CGVController!{% endblock %}

{% block body %}

<p>Conditions générales d'utilisation
CONDITIONS GENERALES D’UTILISATION
DU SITE « PETITES ANNONCES »
Applicables à compter du 01/09/2021
Les présentes conditions générales d'utilisation (les « CGU ») décrivent les conditions dans lesquelles la société OCP Répartition propose l'accès à son site « Petites annonces » et aux services associés (ci-après « les Applications »).

Les présentes CGU s’appliquent à tous les utilisateurs des Applications, qu’ils soient simples visiteurs ou annonceurs.

En utilisant les Applications, vous acceptez les conditions suivantes, ainsi que celles accessibles par des liens hypertextes dès lors que celles-ci sont applicables. Les conditions exposées dans ces liens hypertextes font partie intégrantes des présentes CGU.

L’utilisation des Applications est réservée aux personnes physiques ou morales, localisées en France métropolitaine ou à Monaco, intervenant sur le secteur de la pharmacie, à l’exclusion des grossistes-répartiteurs, des dépositaires, centrales d’achat, et des autres acteurs dudit secteur proposant la vente de produits pharmaceutiques et parapharmaceutiques à destination des consommateurs/patients.

Avant d’utiliser les Applications, vous devez prendre connaissance et accepter l'ensemble des CGU et CGV des Applications figurant dans les présentes Conditions d'utilisation, ainsi que les termes et conditions figurant notamment sous les liens hypertextes mentionnés à l'article « Autres Conditions ».

Certains services sont réservés aux professionnels.

Si vous n'acceptez pas sans réserve nos CGU, vous ne pourrez pas utiliser nos Applications.

Chacun de ces conditions et règlements intégrés dans les présentes CGU est susceptible d'être modifié. Les modifications sont effectives dès qu’elles sont en ligne sur les Applications.

 

ARTICLE 1 - DÉFINITIONS
Annonce : désigne l'ensemble des éléments et données (visuels, textuels, sonores, photographies, dessins), déposé par un Annonceur sous sa responsabilité éditoriale exclusive, en vue d'acheter, louer, promouvoir, vendre un bien, acheter/vendre une officine de pharmacie ou  déposer une offre ou recherche d’emploi, . Cet ensemble étant diffusé sur le Site « Petites annonces ».

Annonceur : désigne un Utilisateur établi en France ou à Monaco ayant publié au moins une Annonce. Il existe quatre catégories d’Annonceur : les pharmaciens, les membres de l’équipe officinale, les étudiants et les autres personnes.

Contrat : le contrat est constitué de la commande de l’Annonceur à/aux service(s) payant(s) ou gratuit (s) ou à/aux option(s) payante(s) et des conditions générales de vente. Il constitue l’intégralité des accords liant OCP et l’Annonceur quant à son objet.

Toutefois, il est précisé que les conditions générales d’utilisation des Applications (y compris les éléments qui les composent) s’appliquent sans réserve à l’Annonceur.

 

Compte Personnel : désigne l'espace gratuit, accessible depuis le Site Petites Annonces que tout Utilisateur peut créer et à partir duquel il peut :

diffuser, gérer, visualiser ses Annonces,
souscrire à une ou des option(s) payante(s) ou à un (des) service(s) payant(s,
consulter intégralement une Annonce,
répondre à une Annonce
gérer des favoris d’annonces,
sauvegarder des recherches,
signaler une annonce,
 

La création d’un Compte Personnel est un pré-requis à la consultation intégrale des Annonces, pour répondre à une Annonce et à la publication d’une Annonce, ainsi qu’à la souscription à une option ou un service payant.

 

CGU ou Conditions Générales d’Utilisation des Applications : désignent les présentes Conditions Générales d’Utilisation ainsi que tout document auquel il fait référence, notamment dans son article « Autres conditions ».

 

Site ou Site Petites Annonces : désigne le site internet Petites annonces, qu’il soit utilisé via un ordinateur, un téléphone, une tablette ou tout autre matériel en permettant l’accès.

 

Utilisateur : désigne globalement le Visiteur, l’Annonceur, et l’Acheteur.

 

Utilisateur Professionnel : désigne un Utilisateur agissant à des fins professionnelles.

 

Visiteur : désigne une personne accédant au Site en lecture exclusivement. Le Visiteur n’a pas accès à l’intégralité des informations relatives aux Annonces.

 

Acheteur : désigne un Utilisateur qui achète un produit ou un service en répondant à une Annonce.

 

ARTICLE 2 - DESCRIPTION DES APPLICATIONS
Le Site est un lieu d’échanges privilégié entre les personnes évoluant dans l’écosystème de la « pharmacie » dont l'objet est de permettre à tout Utilisateur d'offrir, de vendre ou d'acheter des biens ou d’offrir ou de rechercher un emploi.

Les Applications consistent à faciliter les démarches de l'Utilisateur dans sa recherche d’emploi ou de personnels, d'achat et/ou de vente d’officines de pharmacie et d’équipements officinaux en lui permettant notamment de bénéficier de:

la possibilité de se constituer un compte personnel au travers duquel l'Utilisateur aura notamment la possibilité de publier une Annonce, d'accéder aux Annonces dans leur intégralité et de répondre aux Annonces,
un service de recherche, visualisation d’Annonces,
l'accès aux coordonnées des Annonceurs,
un service de mise en relation avec des Annonceurs,
L'Utilisateur est informé et reconnaît que l'activité d’OCP se limite à faciliter la mise en relation des Utilisateurs avec les Annonceurs. Sa responsabilité ne saurait en aucune manière être engagée dans le cadre des relations, accords et discussions susceptibles d'intervenir entre les Utilisateurs et les Annonceurs.

 

ARTICLE 3 - ACCES AUX APPLICATIONS
3.1 Création d’un Compte Personnel
L’utilisation des Applications est conditionnée à la création d’un Compte Personnel. La création d’un Compte Personnel est gratuite.

Seuls les Utilisateurs dont le Compte Personnel n’est pas suspendu ni supprimé, peuvent publier une Annonce , visualiser intégralement une annonce ou souscrire à un service ou option payante.

Lors de la création de son Compte Personnel, l’Utilisateur s’engage à communiquer des informations exactes et à jour. Il s’engage également à mettre à jour ses informations en cas de changement. L’utilisateur personne morale s’engage à renseigner l’adresse de son siège social dans le formulaire de création de compte.

L’Utilisateur est informé qu’OCP lui transmet des informations notamment relatives à ses Annonces via l’adresse email saisie dans le Compte Personnel.

Il ne peut y avoir qu’un seul Compte Personnel par Utilisateur. L’Utilisateur s’engage à ne pas créer plusieurs Comptes Personnels.

Une personne morale doit créer son Compte Personnel pour une utilisation à des fins professionnelles exclusivement.

Les employés et collaborateurs d’une personne morale ainsi que le titulaire d’une pharmacie doivent créer leur propre Compte Personnel pour leur utilisation des Applications à des fins privées.

 

3.2 Identifiant – mot de passe
Le Compte Personnel est accessible sur saisie d’un identifiant et d’un mot de passe.

L’identifiant de l’Utilisateur est l’adresse email de l’Utilisateur.

L’Utilisateur choisit lui-même son mot de passe, en respectant la structure des mots de passe définie par OCP.

L’Utilisateur est responsable de la confidentialité de son mot de passe.

Pour des questions de sécurité, l’Utilisateur est invité à le changer régulièrement.

Toute utilisation des Applications effectuée avec les identifiants d’un Utilisateur est réputée avoir été réalisée par ledit Utilisateur.

De même que l'accès aux Applications avec ces identifiant et mot de passe s'effectue sous la seule responsabilité de l'Utilisateur.

Dès lors, en cas de perte, de vol ou tout acte frauduleux à l'égard de son identifiant unique, l'Utilisateur doit en informer OCP dans les plus brefs délais et justifier à cette occasion de son identité par tous moyens. A réception de sa notification dûment justifiée, OCP adressera à l'Utilisateur un nouvel identifiant, à charge pour lui de les conserver strictement confidentiels.

En cas de perte ou d’oubli du mot de passe, l’Utilisateur doit faire une demande de réinitialisation du mot de passe. OCP lui enverra un email de réinitialisation contenant un lien permettant à l’Utilisateur de choisir son mot de passe

 

3.3 Suppression d’un Compte Personnel
La suppression d’un Compte Personnel implique la suppression automatique, immédiate et définitive de toutes les Annonces, services et options y compris payantes et tout autre élément qui y sont attachés ainsi que l’accès aux Applications.

L’Utilisateur peut supprimer son Compte Personnel en envoyant un message par le biais du lien « nous contacter » du site.

OCP se réserve le droit de suspendre ou de supprimer un Compte Personnel d’un Utilisateur en cas de non-respect des CGU et autres conditions notamment en cas de non-paiement des services payants souscrits.

 

3.4 Publication/suppression/modification d’une Annonce
L’Utilisateur, après création de son Compte Personnel, peut créer une Annonce via le lien « déposer une annonce ».

Les Annonces sont publiées dès leur dépôt par l’Annonceur sans validation préalable d’OCP. L’Annonce est en ligne pendant 4 semaines à compter de son dépôt . Un email est envoyé à l’Annonceur pour lui confirmer le dépôt.

L’Annonce peut être retirée à tout moment par OCP si OCP est alertée par un Utilisateur ou si elle constate que l’Annonce présente un contenu illicite et abusif.

Le tableau de bord de l’espace « mon compte » permet également d’ effectuer un suivi de l’état d’une Annonce.

L’Utilisateur peut également souscrire à des options payantes afin notamment de mettre son Annonce en avant. Les options payantes figurent dans l’ARTICLE 5 -

L’Utilisateur peut dépublier son Annonce avant la fin de la durée de la publication depuis l’espace de gestion des annonces de la rubrique « mon compte ».

Depuis cet espace, il est également possible de : prolonger une Annonce, la dupliquer ou la modifier et de commander des options payantes.

La dépublication d’une Annonce avant la fin de la durée de la publication ne donne lieu à aucun remboursement ou aucune indemnité d’aucune sorte au profit de l’Annonceur.

Cette action entraîne la mise hors ligne de tous les éléments qui y sont attachées notamment les mises en favori et les options y compris payantes souscrites pour cette Annonce.

Avant de publier une Annonce, l’Utilisateur doit prendre connaissance des conditions qui y sont attachées notamment les règles de diffusion [PA règles de publication_.pdf] et la charte de bonne conduite de l’Utilisateur [PA Charte de l'Utilisateur_.pdf], qu’il s’engage à respecter.

Les Annonces peuvent être modifiées à tout moment par l’Utilisateur (à l’exception de la rubrique « prix »).

 

ARTICLE 4 : CONTENU ILLICITE
En sa qualité de prestataire d'hébergement au sens des dispositions de l'article 6-I-7 de la Loi n°2004-575 du 21 juin 2004 des annonces diffusées sous la responsabilité exclusive des Annonceurs, OCP ne peut matériellement pas organiser une surveillance générale des annonces qu'elle héberge sur le Site ou les Applications et ne peut en déterminer le caractère licite ou non.

Au cas où l'Utilisateur est amené à découvrir que tout ou partie d'une annonce – mise en ligne sur le Site et/ou l'Application par un Annonceur – pourrait revêtir un caractère manifestement illicite, l'Utilisateur est invité à le signaler à OCP.

Conformément aux dispositions de l'article 6-I-5 de la Loi n°2004-575 du 21 juin 2004, l'Utilisateur pourra être invité par OCP à préciser sa demande en lui communiquant par écrit l'ensemble des mentions suivantes :

les noms, prénoms, date, lieu de naissance, adresse postale ;
la date de signalement de l'annonce litigieuse ;
le numéro de(s) l'annonce(s) litigeuse(s) ;
la/les adresse(s) URL de(s) l'annonce(s) litigeuse(s) ;
les motifs pour lesquels l'annonce doit être retirée, comprenant la mention des dispositions légales et des justifications de faits ;
A cet égard, l'Utilisateur s'engage à ne pas abuser de cette faculté, à défaut de quoi, il reconnaît et accepte qu'il s'expose à des poursuites pénales, par application des dispositions de l'article 6.I.4 de la Loi n°2004-575 du 21 juin 2004 selon lequel : « Le fait, pour toute personne, de présenter aux personnes mentionnées au 2 (hébergeurs) un contenu ou une activité comme étant illicite dans le but d'en obtenir le retrait ou d'en faire cesser la diffusion, alors qu'elle sait cette information inexacte, est puni d'une peine d'un an d'emprisonnement et de 15 000 EUR d'amende ».

 

ARTICLE 5 - SOUSCRIPTION/UTILISATION DES OPTIONS ET SERVICES PAYANTS
Les descriptions des options et services payants ainsi que les tarifs figurent dans les conditions générales de vente associées.

Toute utilisation et/ou souscription d’une option ou d’un service payant est conditionnée à l’acceptation sans réserve de l’intégralité des Conditions Générales de Vente et autres conditions qui y sont attachées.

(se reporter à l’article « autres conditions »)

Les tarifs des options et services payants sont susceptibles d'être modifiés. Les modifications apportées sont effectives dès leur mise en ligne sur les Applications. OCP se réserve le droit de modifier temporairement les tarifs applicables à ces options et services payants à l'occasion d'événements à caractère promotionnel ou de lancement de nouveaux services. Ces modifications entrent en vigueur à la date indiquée dans la notification adressée à l’Utilisateur concernant l'événement promotionnel temporaire ou le nouveau service sur le Site, ou à défaut dès leur mise en ligne sur le Site.

Sauf mention contraire, tous les tarifs sont indiqués en euros HT (EUR).

L’Utilisateur hors pharmacie cliente d’OCP accepte de recevoir des factures d’OCP pour l’achat des options et services payants au format électronique, par e-mail.

Les dispositions relatives aux CGV d’OCP sont applicables.

 

ARTICLE 6 - – DISPONIBILITE DES APPLICATIONS - INTEGRITE
 

6.1 Disponibilité des Applications.
OCP fait ses meilleurs efforts afin que les Applications soient accessibles 24h/24, 7j/7.

Toutefois, OCP ne peut pas garantir un accès continu et sécurisé aux Applications, dans la mesure où le bon fonctionnement des Applications peut être affecté par de nombreux facteurs hors du contrôle d’OCP. En conséquence, aucune interruption provisoire ou définitive, pour quelque cause que ce soit ne pourra donner lieu à une indemnisation ou contrepartie notamment financière ; dans les limites de la législation en vigueur. OCP exclut toutes garanties, et ne peut être tenu pour responsable d'une perte financière ou de réputation, ni des dommages spéciaux, indirects ou induits résultant de ou liés à l'utilisation des Applications.

L’Utilisateur déclare accepter les caractéristiques et les limites d'un service en ligne, et en particulier reconnaître :

a) qu'il a connaissance des aléas de la consultation en ligne, en particulier au regard des temps de réponse;

b) qu'il lui appartient de prendre toutes mesures nécessaires pour s'assurer que les caractéristiques techniques de son ordinateur et/ou de ses matériels et/ou de son réseau informatique, lui permettent l'accès aux Applications.

L’Utilisateur reconnaît avoir pris connaissance des configurations minimales requises pour l'utilisation normale du Site, consultables depuis le lien « mentions légales » du Site.

c) qu'il est seul responsable de ses accès sur Internet;

d) qu'il lui appartient de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels et/ou matériels de la contamination par d'éventuels virus circulant sur l'Internet ou contractés par tout autre moyen.

OCP se réserve la faculté de modifier les caractéristiques ou le contenu des Applications.

 

6.2 Restriction d’accès
Tout Utilisateur peut visualiser les Annonces publiées sur le Site. Le contenu des Annonces n’est toutefois pas consultable dans son intégralité en l’absence de Compte Personnel.

OCP peut également suspendre temporairement ou définitivement l’accès à tout ou partie des Applications d’un Utilisateur en cas de non-respect des CGU ou restreindre l’accès aux Applications et/ou à certaines rubriques et ce, sans avertissement.

 
6.3 OCP se réserve le droit de limiter l’utilisation et le stockage des Contenus à tout moment, à sa seule discrétion, sans préavis.
OCP se réserve le droit d’accéder, de conserver et de communiquer toute information qu’il pense raisonnablement qu’elle est nécessaire aux fins de (a) respecter toute obligation légale ou réglementaire applicable ainsi que toute demande d’une autorité judicaire ou administrative, (b) faire valoir ses droits au titre des CGU y compris les vérifications relatives à d’éventuels non respect à celles-ci, (c) détecter, prévenir, lutter contre toute fraude ou problèmes d’ordre technique ou relatif à la sécurité ; (d) de répondre aux demandes d’assistance technique des Utilisateurs ou (e) de protéger les droits, les biens ou la sécurité des Utilisateurs.

 

ARTICLE 7 - LIENS HYPERTEXTES
OCP interdit la création de tout lien hypertexte et ce, qu'il s’agissent d’un lien hypertexte simple ou profond vers le Site ou une Application.

Toutefois, par exception et sous certaines conditions, OCP peut autoriser toute personne physique ou morale titulaire d'un site Internet ou tout autre support à citer le site ou à mettre en place un lien hypertexte simple pointant vers l'adresse du Site ou du site LINK. Une autorisation, expresse et écrite, devra alors être demandée auprès du OCP REPARTITION Service marketing / , à l'adresse suivante: 2, rue Galien, 93587, Saint-Ouen.

OCP interdit l’intégration de tout lien hypertexte, dans les Annonces, et ce qu'il s’agissent d’un lien hypertexte simple ou profond, vers des sites internet de Petites Annonces, ou tout site internet qu’OCP estime raisonnablement inapproprié.

Des liens hypertextes peuvent être autorisés dans les Annonces émanant d’Utilisateurs Professionnels, le cas échéant ; ils devront pointer vers la page d’accueil de l’Annonceur ou sur la page du produit/service concerné.

OCP n'effectue aucun contrôle des sites vers lesquels les liens hypertextes pointent. Les liens vers ces sites ne sauraient être analysés comme constituant un partenariat entre OCP et lesdits sites ou les sociétés qui les exploitent. Ainsi, OCP dégage toute responsabilité quant aux contenus, produits, éléments, ou services proposés par ces sites, ces derniers étant seuls responsables des contenus qu'ils diffusent.

 

ARTICLE 8 – AUTRES CONDITIONS
Les conditions particulières, conditions générales de vente et autres conditions visées ci-après sont intégrées aux présentes CGU et fournissent des termes et conditions supplémentaires :

Les conditions générales de vente applicables aux particuliers ;
Les conditions générales de vente applicables aux pharmacies ;
Les conditions générales de vente applicables aux autres professionnels que les pharmacies ;
La charte de bonne conduite de l’Utilisateur ;
Les règles de diffusion des annonces ;
Les conditions générales de vente des produits et services d’OCP ;
Les conditions générales d’utilisation du site LINK ;
Le cas échéant, les conditions générales d’utilisation et de vente du service e-documents.
 

D’autres conditions et règlements peuvent être applicables y compris s’ils ne sont pas listés dans les présentes. Le cas échéant, ils figurent sur la page de l’Application concernée.

OCP se réserve le droit de modifier les CGU et/ou les documents qui y sont intégrés à tout moment en mettant en ligne les conditions modifiées sur les Applications. L’Utilisateur est invité à consulter régulièrement les CGU afin de prendre connaissance des changements apportés. Sauf mention contraire expresse, toutes les modifications seront effectives 30 jours après avoir été mises en ligne. Les dispositions des CGU ne peuvent être modifiées d’aucune autre façon.

 

ARTICLE 9 – DONNÉES PERSONNELLES – COOKIES
9.1 Données personnelles
Il convient de se référer à la politique de confidentialité disponible en cliquant sur le lien suivant : https://www.ocp.fr/politique-de-confidentialite/

 

9.2 Cookies
Il convient de se référer à la politique de confidentialité disponible en cliquant sur le lien suivant : https://www.ocp.fr/politique-de-confidentialite/

 

ARTICLE 10 - NON-RESPECT DES CGU
L’Utilisateur s’engage à utiliser les Applications conformément aux CGU et à chacun des éléments qui les compose ainsi que les conditions et termes qui apparaissent sur la page d’un service.

En cas de constatation par OCP de la violation par un Utilisateur de dispositions légales en vigueur, des droits des tiers (dont notamment les droits de propriété intellectuelle tels que les marques, droit d'auteur) ou des CGU, après – lorsque cela est possible - notification infructueuse à l'Utilisateur de se conformer aux CGU, OCP se réserve le droit de prendre le cas échéant une ou plusieurs des sanctions suivantes :

retarder la publication de l’Annonce, et de façon générale, de tout contenu ;
ne pas publier une Annonce, ou contenu qu’elle estime non conforme aux CGU ou l’esprit du Site ou qui lui serait signalée comme telle, et ce, sans préavis ni notification.
retirer tout contenu publié contrevenant aux dispositions susmentionnées sans préavis ni notification ;
suspendre l'accès de l'Utilisateur aux Applications et à son Compte Personnel ;
 

OCP pourra entreprendre toute action judiciaire à l’encontre d’un Utilisateur contrevenant les CGU.

 

ARTICLE 11 - PROPRIETE
11.1 Droit d’auteur sur les Applications.
OCP est le titulaire des droits de propriété intellectuelle tant de la structure générale du Site et/ou de l'Application que de son contenu (textes, slogans, graphiques, images, vidéos, photos et autres contenus).

Dès lors, conformément aux dispositions du Livre 1er du Code de la propriété intellectuelle, toute représentation, reproduction, modification, dénaturation et/ou exploitation totale ou partielle du Site et/ou de l'Application et/ou de leur contenu et/ou des Services, par quelque procédé que ce soit et sur quelque support que ce soit, sans l'autorisation expresse et préalable de OCP, est prohibée et constitue des actes de contrefaçon de droits d'auteur.

De même, toute exploitation non autorisée du Site et/ou de l'Application et/ou de son contenu et/ou des Services engage la responsabilité pénale et civile de l'Utilisateur sur le fondement de la contrefaçon de droits d'auteur.

OCP entend divulguer les Applications qu'afin d'en permettre un accès sur le réseau Internet, et ce :

?  depuis un ordinateur ou un terminal équivalant disposant d'un accès à un ou plusieurs réseaux de télécommunications permettant l'accès au réseau Internet et d'un logiciel de navigation sur le réseau Internet (de type Internet Google Chrome, Apple, Safari, Mozilla Firefox, etc.) ;

?  un terminal mobile disposant d'un accès à un réseau de télécommunications permettant l'accès au réseau Internet (connexion Wifi, 3/4G, Edge, etc.) ;

Toute autre utilisation des Applications est réputée de plein droit réservée à OCP.

 

11.2 Signes distinctifs
Les marques, logos, dénominations sociales, sigles, noms commerciaux, enseignes et/ou nom de domaine de OCP et/ou de ses partenaires commerciaux mentionnés sur les Applications, constituent des signes distinctifs insusceptibles d'utilisation sans l'autorisation expresse et préalable de leur titulaire.

Toute représentation et/ou reproduction et/ou exploitation partielle ou totale de ces signes distinctifs est donc prohibée et constitutif de contrefaçon de marque, en application des dispositions du Livre 7 du Code de la propriété intellectuelle, d'usurpation de dénomination sociale, nom commercial et de nom de domaine engageant la responsabilité civile délictuelle de son auteur.

 

11.3 Bases de données
L'Utilisateur reconnaît irrévocablement que les Applications sont constitués d'une ou plusieurs bases de données mis à disposition par OCP en qualité de producteur desdites bases de données au sens des dispositions des articles L.341-1 et suivants du Code de la propriété intellectuelle.

Dès lors, conformément aux dispositions de l'article L. 342-1 du même Code, l'Utilisateur s'interdit de procéder à :

l'extraction par transfert permanent ou temporaire de la totalité ou d'une partie substantielle du contenu d'une ou plusieurs des bases des données accessibles sur un autre support;
la réutilisation de la totalité ou d'une partie substantielle du contenu d'une ou plusieurs des bases des données accessibles quelle qu'en soit la forme;
la constitution, l'édition, la maintenance, la mise à jour, l'importation, l'exportation, la mise à disposition de tiers, à titre gracieux ou onéreux d'une base de données concurrente issue de tout ou partie d'une ou plusieurs des bases de données de OCP;
la visualisation sur un écran par un autre procédé ou média que ceux par lesquels OCP entend divulguer les Applications;
d'une manière générale, toute extraction, utilisation, stockage, reproduction, représentation ou conservation, directe ou indirecte, partielle ou totale, y compris en mémoire tampon ou temporaire, qualitativement ou quantitativement substantielle du contenu d'une ou plusieurs des bases de données de OCP, commise par l'un des procédés visés ci-dessus est strictement prohibée, y compris par un média non autorisé par OCP.
 

11.4 Contenu des services
L'Utilisateur reconnaît et accepte que l'accès aux Applications mis à sa disposition par OCP ne saurait emporter une quelconque cession ou concession des droits de propriété intellectuelle (droits d'auteurs notamment) et autres droits au bénéfice de l'Utilisateur.

L'accès aux services est exclusivement limité à l'usage professionnel, privé et personnel de l'Utilisateur dans les conditions et limites définies dans les présentes CGU et conformément aux dispositions de l'article L.122-5 2° du Code de la propriété Intellectuelle.

 

11.5 Contenu de l’Annonce
L’Utilisateur concède à OCP à titre non exclusif, gratuit, pour toutes les langues, pour le monde entier et pour la durée légale des droits (y compris les éventuelles prolongations qui pourraient intervenir), l'ensemble des droits de propriété intellectuelle afférant aux éléments utilisés pour la composition de ses Annonces, et plus généralement, de contenu publié sur le Site (notamment textes, images, photographies, logos, illustrations, marques, modèles, titres, données), y compris toute base de données (ci-après le « Contenu ») intégralement ou par extrait, au fur et à mesure de leur insertion sur le Site.

Ces droits comprennent le droit de reproduire, représenter, diffuser, adapter, modifier, traduire, sous-licencier et communiquer au public tout ou partie du Contenu par tous procédés, sur tous formats et tous supports (numérique, imprimé…) connus ou inconnus à ce jour. Les droits énumérés ci-dessus sont accordés pour tous les sites Internet du groupe OCP ainsi que pour les sites Internet tiers autorisés par OCP.

OCP peut faire bénéficier à des tiers tout ou partie des droits accordés dans le cadre de la présente licence.

L’Utilisateur garantit que le Contenu est conforme à la législation applicable, qu’il est titulaire des droits de propriété intellectuelle sur le Contenu, qu'il ne porte pas atteinte aux droits des tiers, et qu'il ne fait l'objet d'aucune action en contrefaçon ou autre.

L’Utilisateur garantit OCP contre toutes les conséquences financières des éventuelles actions, réclamations, revendications, ou oppositions de la part de toute personne invoquant un droit de propriété intellectuelle sur le Contenu, un acte de concurrence déloyale et/ou parasitaire, et/ou une infraction à la loi sur la presse.

 

ARTICLE 12 - RESPONSABILITÉ D’OCP
12.1 OCP est tenu à une obligation de moyens dans le cadre de la mise à disposition des Applications.
12.2 OCP ne peut garantir à l’Utilisateur les suites données :
à la diffusion d’une Annonce;

aux réponses qui lui seront apportées suite à ses demandes de mises en relation avec les Annonceurs;

aux annonces qu'il aura souhaité consulter;

 

12.3 OCP décline toute responsabilité quant au contenu des Annonces et à la fiabilité et/ou la pertinence des informations fournies par les Annonceurs sur le Site et/ou sur l'Application – lesdites informations étant mises en lignes et diffusées sous leur entière responsabilité.
OCP ne peut pas être tenu responsable du Contenu des Annonces, des actions (ou absence d'action) des Utilisateurs et des biens qu'ils mettent en vente.

12.4 OCP ne garantit pas la conclusion de relation contractuelle entre l'Utilisateur et lesdits Annonceurs.
Les Utilisateurs reconnaissent que OCP n'intervient à ce titre à aucun moment dans les échanges et transactions entre les Utilisateurs et les Annonceurs et n'intervient pas en tant que médiateur entre les Utilisateurs et les Annonceurs.

Par conséquent, la responsabilité, délictuelle ou contractuelle de OCP ne pourra en aucun cas être engagée pour la conclusion, la non-conclusion, l'exécution, la résolution ou la médiation de toute relation contractuelle entre les Utilisateurs et les Annonceurs ou pour les conséquences, quelles que soient leur nature, résultant d'un litige entre ces derniers.

12.5 L'Utilisateur est seul responsable de l'utilisation qu'il fait des Applications.
OCP ne saurait être tenu responsable à titre contractuel, délictuel (même en cas de négligence) ou autre:

de l’utilisation par l’Utilisateur des Applications, ou de son incapacité à les utiliser ;

en cas d'utilisation des Applications par un Utilisateur dans des conditions non-conformes aux termes des présentes CGU;

de la destruction d’Annonce suspectées d'être non conformes aux CGU ;
de la suspension ou de toute autre action entreprise vis-à-vis du Compte Personnel de l’Utilisateur;
des conséquences pour l’Utilisateur de modifications apportées sur les Applications
 

OCP ne pourra en aucun cas être tenue responsable dans le cadre d'une procédure introduite à l'encontre de l'Utilisateur qui se serait rendu coupable d'une utilisation non-conforme du Site et/ou de l'Application et/ou des Services qu'il procure.

L'Utilisateur reconnaît et accepte à cet égard qu'il fera son affaire personnelle de toute réclamation ou procédure formée contre OCP, du fait de l'utilisation non-conforme par lui des Applications.

12.6 Les Applications peuvent contenir des liens hypertextes renvoyant vers des sites Internet de tiers.
A cet égard, compte tenu du caractère évanescent du contenu qui peut y être diffusé, la responsabilité de OCP ne saurait être engagée dans le cas où le contenu desdits sites de tiers contreviendrait aux dispositions légales et/ou réglementaires en vigueur.

 

12.7 OCP ne saurait être tenue responsable de tout dysfonctionnement de quelque nature qu'il soit relatif au matériel informatique de l'Utilisateur ainsi qu'à sa connexion d'accès à Internet, lors de l'accès aux Applications.
Plus particulièrement, OCP ne saurait garantir l'Utilisateur sur :

en cas d'indisponibilité des Applications pour des raisons telles que la défaillance du réseau public d'électricité, la défaillance des réseaux câblés de télécommunications, la perte de connectivité au réseau Internet due aux opérateurs publics ou privés, notamment de l'Utilisateur, dont les causes proviennent notamment de grèves, de tempêtes, de tremblements de terre ou de toute autre cause ayant les caractéristiques de la force majeure ;
les problèmes de vitesses d'accès aux Applications et/ou de vitesse de mise en mémoire tampon de l'ordinateur de l'Utilisateur des vidéos accessibles via les Services que l'Utilisateur serait susceptible de rencontrer.
la qualité des textes, informations, descriptifs, photographies et Vidéogrammes adjoints aux annonces publiées par l'Utilisateur.
des éventuels retards ou perturbations qui pourraient affecter les Applications;
de virus ou de tout autre logiciel malveillant obtenus en accédant aux Applications ;
de dysfonctionnements, bugs, erreurs ou inexactitudes quelconques présents sur les Applications, ou dans les informations et éléments graphiques obtenus par leur intermédiaire ;
 

 

12.8 OCP ne saurait être tenue responsable dans les limites de la législation en vigueur, de tout dommage indirect et ce y compris notamment les pertes de profit, de données ou tout autre perte de biens incorporels, et ce même si OCP a été informé de la potentialité de tels dommages.

 

En tout état de cause et dans les limites de la législation en vigueur, si OCP est tenu responsable par la juridiction compétente, la responsabilité d’OCP ne peut excéder le plus important des montants suivants : (a) le montant total des options ou services payants souscrits et payés au cours des 12 mois précédant ladite action en responsabilité ; ou (b) 100 EUR.

 

 

 

ARTICLE 13 – GARANTIE - RESPONSABILITÉ DE L’UTILISATEUR
Garantie :
En accédant au Site et/ou à l'Application de OCP, l'Utilisateur déclare, garantit et s'engage à :

accéder et utiliser les Applications en toute bonne foi, de manière raisonnable, non contraire aux termes des présentes CGU et pour une utilisation à des fins non lucratives;
ne pas utiliser de dispositifs ou logiciels autres que ceux fournis par OCP destinés à i) affecter ou tenter d'affecter le bon fonctionnement des Applications qu'il contient ii) ou encore d'extraire, modifier, consulter, même en mémoire tampon ou temporaire, ou encore pour une utilisation individualisée, tout ou partie du Site et/ou de l'Application ;
ne pas accéder et/ou utiliser les Applications fournis par OCP à des fins illicites et/ou dans le but de causer un préjudice à la réputation et l'image de OCP ou plus généralement à porter atteinte aux droits, notamment de propriété intellectuelle, de la Société et/ou de tiers ;
ne pas commercialiser directement ou indirectement les Services et/ou l'accès aux Services et/ou l'accès au Site et/ou à l'Application ;
ne pas réutiliser tout ou partie du Site  et/ou de l'Application et des Services qu'il contient, en particulier à des fins commerciales et/ou collectives et/ou à des fins personnelles sous une forme et/ou un média non autorisé par OCP ;
ne pas exploiter les Services fournis par OCP ou les données auxquelles il pourrait avoir accès via lesdits Services et/ou le Site et/ou l'Application à des fins directement ou indirectement commerciales et/ou à des fins personnelles sous une forme et/ou un média non autorisé(s) par OCP;
ne pas reproduire, représenter tout ou partie du Site et/ou de l'Application à des fins privées au-delà des exceptions légales prévues, en particulier par le Code de la propriété intellectuelle, ou en vue d'une commercialisation directe ou indirecte notamment auprès de tiers ;
ne pas limiter l'accès et l'utilisation au Site et/ou à l'Application et/ou des Services ;
ne modifier, y compris en mémoire tampon ou temporaire, aucune mention ou élément des Services et/ou du contenu du Site et/ou de l'Application ;
ne pas contrevenir aux dispositions des articles 323-1 à 323-7 du Code Pénal réprimant les pratiques dites de « hacking » ;
ne pas utiliser et/ou exploiter les coordonnées électroniques et/ou postales des autres Utilisateurs du Site et/ou de l'Application en vue de l'envoi en masse de courrier électronique de sollicitation et de se livrer à une pratique de « spamming ».
ne pas utiliser des robots, araignées (spider), scrapers ou tout autre procédé automatique pour accéder aux Applications, à quelque fin que ce soit, sans le consentement exprès, préalable et écrit d’OCP ; et/ou engager d'action qui pourrait, à l’appréciation d’OCP, imposer une charge déraisonnable ou disproportionnée sur les infrastructures utilisées par les Applications; et/ou
ne pas copier, reproduire, effectuer de l'ingénierie inverse, modifier, créer des oeuvres dérivées, distribuer ou divulguer au public tout contenu des sites, services, Applications ou outils sans le consentement exprès préalable et écrit d'OCP ou, le cas échéant, de celui des tiers concernés ; et/ou
ne pas perturber ou tenter de perturber le bon fonctionnement des Applications ou des activités qui s'y déroulent ; et/ou
ne pas contourner les protocoles de sécurité, d'exclusion des robots ou toute autre mesure qu’OCP met en place pour protéger, empêcher ou limiter l'accès aux Applications
En cas de manquement à l'une ou l'autre de ces obligations et, sans que cette liste ne soit limitative, l'Utilisateur reconnaît et accepte que OCP aura la faculté de lui refuser, unilatéralement et sans notification préalable, l'accès à tout ou partie des Applications.

 

Responsabilité
L’Utilisateur consulte et exploite les Applications et les informations y figurant sous sa seule responsabilité : ces informations ne sauraient être utilisées sans vérification préalable par l’Utilisateur et OCP ne pourra être tenu pour responsable des conséquences directes et indirectes pouvant résulter de l’utilisation, la consultation et l’interprétation des informations publiées sur le Site. L'utilisation du Site et des informations qu’il contient par l’Utilisateur se fait donc sous sa seule responsabilité et à ses risques et périls.

L’Utilisateur Professionnel s’oblige à maintenir ou, le cas échéant à souscrire, une assurance responsabilité civile couvrant les dommages corporels, matériels, immatériels, directs ou indirects susceptibles d’être causés par ses agissements ou ses personnels qu’il autorise à utiliser ses codes et identifiants.

L’Utilisateur est seul responsable de tout dommage subi par ses matériels informatiques ou de toute perte de données résultant de l'utilisation d'une Application.

L’Utilisateur accepte d'indemniser et de défendre OCP, contre toute demande ou réclamation faite par un tiers, causée ou résultant d'une violation de la part de l’Utilisateur des présentes CGU ou de tout document qui y est incorporé par référence, ou d'une violation de sa part de toute loi ou de tout droit de ces tiers. Cela inclut, pour l’Utilisateur agissant en tant que professionnel, l’obligation d'indemniser OCP de tous frais raisonnables d’avocats engagés par ce dernier pour se défendre.

 

Dispositions particulières aux Annonces
Les Annonces sont publiées sous la responsabilité éditoriale de leur auteur. En aucun cas, OCP ne serait être tenu responsable du contenu ou de la véracité des Annonces, notamment que les produits ou services qui y sont vendus ou proposés sont conformes aux besoins de l’Utilisateur.

L’Utilisateur est responsable du choix des Annonces qu’il publie et/ou auxquelles il répond. OCP recommande aux Utilisateurs de faire preuve de prudence et de sens critique dans l’utilisation du Site.

 

ARTICLE 14 - NOTIFICATIONS
Sauf stipulation expresse contraire, toute notification envoyée à OCP doit être adressée via le formulaire de contact disponible sur le site rubrique « nous contacter » ou par courrier recommandé à OCP REPARTITION – Département Ventes & Marketing- Service client des Petites annonces 2 rue Galien à Saint-Ouen (93587).

Toute notification destinée aux Utilisateurs sera envoyée en principe par e-mail à l'adresse saisie dans le Compte Personnel de l’Utilisateur. Les notifications sont réputées être parvenues à l’Utilisateur 24 heures après l'envoi de l'e-mail, sauf si l'expéditeur se voit notifier l'invalidité de l'adresse e-mail.

Les notifications peuvent également être envoyées par lettre à l'adresse postale saisie dans le Compte Personnel de l’Utilisateur. Dans ce cas, le délai mentionné plus haut est porté à 3 jours après l'envoi du courrier.

 

ARTICLE 15 - RÉCLAMATION
En cas de réclamation, veuillez adresser votre demande via le formulaire de contact disponible sur le site rubrique « nous contacter » ou à OCP REPARTITION Service client des petites annonces 2 rue Galien à Saint-Ouen (93587).

Les Utilisateurs agissant en tant que professionnels acceptent que toute réclamation ou litige qu’ils ont à l'encontre d'OCP soit résolu par le tribunal de commerce de Paris.

 

 

ARTICLE 16 – ETHIQUE ET ANTI-CORRUPTION
Chaque Partie déclare et garantit qu’elle se conforme et qu’elle se conformera pendant la durée du Contrat, à toutes les lois, règlements et codes de conduite ou chartes éthiques applicables à la réalisation de ses obligations au titre des présentes.

Chaque Partie s’engage  à respecter  les dispositions de la Loi Sapin 2 qui sont entrées en vigueur au 1er juin 2017, relative à la transparence, à la lutte contre la corruption et à la modernisation de la vie économique. En cas de violation de l’une quelconque des dispositions de la loi Sapin 2  concernant notamment la lutte contre la  corruption, OCP se réserve le droit de suspendre l'accès de l'Utilisateur aux Applications et à son Compte Personnel.

L’Utilisateur déclare et garantit qu’il n’a pas et qu’il ne donnera ou proposera de donner, directement ou indirectement, une somme d’argent ou tout autre avantage pécuniaire ou non à un Représentant Officiel dans le but d’influencer tout acte ou décision de ce Représentant Officiel, en sa capacité, notamment dans le but d’obtenir des avantages commerciaux ou d’obtenir et/ou entretenir des relations d’affaires. 

Le terme « Représentant Officiel » est défini pour les besoins de cette clause comme toute personne dépositaire de l’autorité publique, ou ayant en charge la réalisation d’une mission d’ordre public ou toute personne ayant un mandat électif. Ce terme comprend aussi l’ensemble des salariés et mandataires d’établissements publics ou de sociétés dont le capital est contrôlé majoritairement par l’Etat, toute personne agissant en tant qu’expert auprès des autorités gouvernementales et/ou réglementaires ainsi que toute personne travaillant pour les organisations internationales.

L’Utilisateur s’engage à garder toutes les pièces comptables et autres justificatives des paiements faits ou reçus et des dépenses qu’il a réalisées dans le cadre du service Petites Annonces au moins deux (2) ans à compter de la date d’expiration ou de résiliation du Contrat. OCP ou un tiers nommé par OCP aura la possibilité d’auditer ces documents, aux heures d’ouverture des locaux du prestataire, afin de s’assurer du bon respect par ce dernier des dispositions des CGU.

En cas de violation des dispositions du présent article par l’Utilisateur, OCP se réserve le droit suspendre l'accès de l'Utilisateur aux Applications et à son Compte Personnel.

L’Utilisateur s’engage également à respecter la charte éthique OCP (ci-après « la Charte Ethique ») disponible via le lien……………..

 

ARTICLE 16 - DIVERS
Dans l'hypothèse où l'une des modalités figurant dans les CGU et les éléments qui y sont intégrés serait considérée comme illégale ou inapplicable, les autres stipulations des Conditions d'utilisation et desdits éléments resteront en vigueur.

Les titres des différents articles figurant dans les CGU sont purement indicatifs et ne déterminent pas nécessairement le contenu des articles auxquels ils se réfèrent.

Le fait qu’OCP n’ait pas exigé l’application d’une clause quelconque des CGU (ou d’un document intégré), que ce soit de façon permanente ou temporaire, ne pourra en

aucun cas être considéré comme une renonciation aux droits d’OCP découlant de ladite clause dont l’inapplication a été tolérée.

OCP et l’Utilisateur sont indépendants. Aucune des stipulations des CGU ne pourra être interprétée comme créant entre eux, une société, une société en participation, une joint-venture, un mandat, une filiale, une relation d'agent ou d'employé à employeur.

Les présentes Conditions d'utilisation (y compris les éléments qui y sont intégrés) constituent l'intégralité de l'accord conclu entre OCP et l’Utilisateur concernant l’utilisation des Applications. Elles annulent et remplacent tout autre accord ou arrangement existant entre les parties.

 

ARTICLE 17 - LOI APPLICABLE
Les présentes CGU sont soumises aux dispositions de la loi française.

Toute contestation ou tout litige pouvant résulter de l’interprétation et/ou de l’exécution des présentes, et plus généralement de l’utilisation du Site relève de la compétence des tribunaux de Paris, même en cas de connexité, d’appel en garantie ou de pluralité de défendeurs.</p>
{% endblock %}
