{% extends 'base.html.twig' %}

{% block title %}CGV
{% endblock %}

{% block body %}
	<section>
		<div class="container-cgv">
			<h1>Conditions générales d'utilisation du Site, des Applications et du Service Chuko Manga</h1>

			<h2 class="toggle" data-target="content1">
				<span class="arrow-icon">&#9660;</span>
				Définitions</h2>

			<div id="content1" class="content-cgv">
				<p>
					Notifications : désigne les notifications reçues par les Utilisateurs dans le cadre du Service CHUKO MANGA dans les cas définis à l’article 2.2 des présentes CGU. Les Notifications sont uniquement accessibles aux Utilisateurs disposant d’un Compte Utilisateur depuis l’Application.
																																																													
																																																													
																																																													Offre : désigne l'offre émise par un Acheteur, un Vendeur Particulier ou Professionnel afin de proposer l'achat ou la vente d'un Bien via le Paiement Sécurisé dans les catégories éligibles définies aux articles 3 et 4 des présentes CGU.
																																																													
																																																													Offre d’achat direct : pour les catégories de biens de consommation définies dans l'article 3, les Acheteurs peuvent émettre une offre au prix indiqué par le Vendeur en cliquant depuis l'Annonce sur l'icône "Acheter". A l'issue du parcours de paiement, la Transaction est réputée validée dès que le Vendeur confirme la disponibilité du Bien.
																																																													Offre de négociation : pour les catégories de biens de consommation définies dans l'article 3, les Acheteurs et les Vendeurs ont la possibilité d’émettre depuis la Messagerie une offre différente du prix indiqué par le Vendeur sur l’Annonce. Une fois acceptée par le Vendeur ou l’Acheteur et à l'issue du parcours de paiement, la Transaction est réputée définitivement validée dès que le Vendeur confirme la disponibilité du Bien.
																																																													Paiement Sécurisé : désigne le paiement en ligne mis à disposition du Vendeur, de l’Acheteur, de l'Hôte et du Voyageur, via nos prestataires de paiement Adyen N.V et Mangopay S.A, sur le Site et les Applications dans les catégories et sous-catégories de Biens de consommation visées à l’article 3, de véhicules visées à l’article 4 et d’Hébergements touristiques visés à l’article 5 des présentes CGU.
																																																													
																																																													
																																																													Porte-Monnaie : désigne le compte de paiement, géré par notre prestataire de paiement Adyen, ouvert sur le Site par et au nom de l'Utilisateur, sur lequel sont versées les sommes afférentes à ses Transactions.
																																																													
																																																													
																																																													Produit Hôtelier : désigne les offres de chambres et services associés (ex : petit-déjeuner, parking, etc.) proposées et contrôlées par les Annonceurs Professionnels ayant la qualité d’hôteliers et mis à disposition via une Annonce sur le Site et les Applications. La réservation d'un Produit Hôtelier par les Utilisateurs s'effectue uniquement dans le système de réservation de l’hôtelier.
																																																													
																																																													
																																																													Remise en main propre (face-à-face) : désigne une option proposée par défaut au Vendeur Particulier lorsqu’il dépose son Annonce et qui peut être sélectionnée par l’Acheteur en vue de se faire remettre le Bien en main propre par le Vendeur Particulier, faisant ainsi l’économie du montant des Frais de livraison pour les catégories de Biens de consommation visés à l’article 3 des présentes CGU. En outre, la Remise en main propre est le seul mode de remise possible dans les catégories et sous-catégories de véhicules visées à l’article 4.
																																																													
																																																													
																																																													
																																																													Réservation : désigne la réservation effectuée par le Voyageur pour louer l’Hébergement touristique d’un Hôte permettant le paiement de l’Acompte qui lui est dû en ligne via le Paiement Sécurisé, pour la période de la location confirmée par l’Hôte.
																																																													
																																																													
																																																													Retrait du Bien : désigne, dans le cadre du Paiement Sécurisé, une option proposée au Vendeur Professionnel lorsqu’il dépose son Annonce et qui peut être sélectionnée par l’Acheteur en vue de se faire remettre le Bien en main propre par le Vendeur Professionnel, faisant ainsi l’économie du montant des Frais de livraison dans les catégories et sous-catégories de Biens de consommation visées à l’article 3 des présentes CGU.
																																																													
																																																													
																																																													Service de Livraison : désigne les services de livraison intégrés disponibles dans les catégories et sous-catégories de Biens de consommation visés à l’article 3, à savoir :
																																																													
																																																													Le Service de Livraison Mondial Relay désigne le service intégré optionnel d’envoi, de transport et de livraison, depuis et à destination de la France métropolitaine, intégré proposé par le partenaire de LBC France, Mondial Relay, à la charge de l’Acheteur, permettant au Vendeur, Particulier ou Professionnel, d’envoyer le Bien vendu payé en ligne par l'Acheteur et dont le transport n’est pas interdit par Mondial Relay.
																																																													Le Service de Livraison Shop2Shop by Chronopost désigne le service intégré optionnel d'envoi, de transport et de livraison, depuis et à destination de la France métropolitaine, intégré proposé par le partenaire de LBC France, Shop2Shop by Chronopost, à la charge de l'Acheteur, permettant au Vendeur, Particulier ou Professionnel, d'envoyer le Bien vendu, payé en ligne par l'Acheteur, et dont le transport n'est pas interdit par Shop2Shop by Chronopost.
																																																													Le Service de Livraison Colissimo désigne le service intégré optionnel d’envoi, de transport et de livraison, depuis et à destination de la France métropolitaine, proposé par Colissimo (La Poste), à la charge de l’Acheteur, permettant au Vendeur d’envoyer le Bien vendu, payé en ligne par l'Acheteur, et dont le transport n’est pas interdit par La Poste.
																																																													Le Service de Livraison Courrier suivi désigne le service intégré optionnel d'envoi, de transport et de livraison, depuis et à destination de la France métropolitaine proposé par Courrier suivi (La Poste), à la charge de l'Acheteur, permettant au Vendeur d'envoyer le Bien vendu dans le cadre d'une Transaction via le Paiement Sécurisé et dont le transport n'est pas interdit par La Poste.
																																																													
																																																													Service CHUKO MANGA : désigne le service logué et personnalisé de diffusion de petites annonces, intégrant le Paiement Sécurisé pour certaines catégories éligibles, et dont les fonctionnalités sont décrites à l'article 2.2 des présentes CGU mis à la disposition des Utilisateurs et des Annonceurs accessible via le Site Internet www.Chuko Manga.fr et les Applications associées.
																																																													
																																																													
																																																													
																																																													Site : désigne le site internet exploité par LBC France accessible principalement depuis l'URL www.CHUKO MANGA.fr et permettant aux Utilisateurs d'accéder à certaines fonctionnalités de base décrites à l’article 2.1 des présentes CGU et aux Utilisateurs connectés à leur Compter Personnel ou Pro ainsi qu’aux Annonceurs d’accéder et utiliser le Service CHUKO MANGA décrit à l'article 2.2 des présentes CGU.
																																																													
																																																													
																																																													Solution de paiement en plusieurs fois : désigne la solution de paiement 3x 4x proposée par l’établissement de crédit Oney (Oney Bank - SA au capital de 51 286 585 € - Siège social : 34 avenue de Flandre 59170 CROIX - RCS Lille Métropole 546 380 197 - n° Orias : 07 023 261 - www.orias.fr - Correspondance : CS 60006 - 59 895 Lille Cedex 9 - www.oney.fr) permettant à l’Acheteur de régler sa commande en plusieurs fois par carte bancaire dans certaines catégories de Biens de consommation visés à l'article 3 des présentes CGU, à savoir Mode, Maison, Multimédia, Loisirs (hors Vins & gastronomie).
																																																													
																																																													
																																																													Utilisateur : désigne toute personne majeure utilisant le Site, les Applications et/ou le Service CHUKO MANGA.
																																																													
																																																													
																																																													Transaction : désigne l’acte qui transfère la propriété d’un Bien d’un Vendeur à un Acheteur, à compter de la validation du paiement et la confirmation de réception ou de remise du Bien par l’Acheteur, en vertu du contrat de vente conclu entre eux via l’utilisation du Paiement Sécurisé.
																																																													
																																																													
																																																													Vendeur : désigne tout Annonceur Particulier ou Professionnel qui propose un ou plusieurs Biens à la vente et utilise le Paiement Sécurisé.
																																																													
																																																													Vendeur Particulier : désigne tout Annonceur Particulier, disposant d’un Compte Personnel qui propose un ou plusieurs Biens à la vente et utilise le Paiement Sécurisé.
																																																													Vendeur Professionnel : désigne tout Annonceur Professionnel, disposant d’un Compte Pro, qui agit dans le cadre de son activité professionnelle ou commerciale, et propose un ou plusieurs Biens à la vente et utilise le Paiement Sécurisé.
																																																													Voyageur : désigne toute personne physique majeure établie en France, titulaire d’un Compte Personnel, qui effectue une Demande de réservation d’un Hébergement touristique auprès d’un Hôte via le Paiement Sécurisé.</p>

			</div>

			<h2 class="toggle" data-target="content2">
				<span class="arrow-icon">&#9660;</span>
				Article 1 : Objet - Acceptation</h2>

			<div id="content2" class="content-cgv">
				<p>Les CGU ont pour objet de déterminer les conditions d'utilisation du Site, des Applications et du Service CHUKO MANGA mis à disposition des Utilisateurs et des Annonceurs ainsi que des Vendeurs, des Acheteurs, des Hôtes et des Voyageurs.
																																																							
																																																							
																																																							Les conditions de souscription par les Annonceurs aux options payantes sont fixées dans les conditions générales de vente réservées (dénommées ci-après "Options Payantes") :
																																																							
																																																							
																																																							aux Annonceurs Particuliers ( « CGV » ) accessibles ici
																																																							aux Annonceurs Pros ( « CGV » ) accessibles ici
																																																							Tout Utilisateur accédant et consultant le Site et/ou les Applications et tout Utilisateur, Annonceur, Acheteur, Vendeur, Hôte et Voyageur utilisant le Service CHUKO MANGA déclare avoir pris connaissance des présentes Conditions Générales d’Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. Les présentes CGU sont donc pleinement opposables aux Utilisateurs, aux Annonceurs, aux Acheteurs, aux Vendeurs, aux Hôtes et aux Voyageurs.
																																																							
																																																							
																																																							Tout traitement de données personnelles dans le cadre des présentes est soumis aux dispositions de notre politique de confidentialité, qui fait partie intégrante des présentes CGU.</p>
			</div>

			<h2 class="toggle" data-target="content2">
				<span class="arrow-icon">&#9660;</span>
				Article 2 : Description du Site, des Applications et du Service CHUKO MANGA</h2>


			<div id="content2" class="content-cgv">
				<h3>Fonctionnalités du Site et des Applications</h3>
				<p>Le Site Chuko Manga.fr et les Applications sont accessibles à tout Utilisateur. En l’absence de Compte Personnel ou Pro, les Utilisateurs peuvent depuis le Site et les Applications :
																																																		
																																																		
																																																		consulter toutes les Annonces diffusées sur le Site.
																																																		effectuer une recherche.
																																																		consulter les profils des Annonceurs Particuliers et Professionnels.
																																																		accéder à la géolocalisation des Annonces déposées dans toutes les catégories.
																																																		consulter les avis Google reçus par les Annonceurs Professionnels de la catégorie Véhicules référencés sur Google Maps. Les Utilisateurs peuvent prendre connaissance des Règles de Google applicables aux avis.
																																																		consulter les avis Opinion System reçus par les Annonceurs Professionnels de la catégorie Immobilier référencés sur Opinion System. Les Utilisateurs peuvent prendre connaissance des Règles d'Opinion System applicables aux avis.</p>
				<h3>Fonctionnalités su Site Chuko Manga</h3>
				<p>Le Service CHUKO MANGA, accessible via le Site Internet www.CHUKO MANGA.fr et ses Applications mobiles, est un service logué, personnalisé, de diffusion de petites annonces, intégrant le Paiement Sécurisé pour certaines catégories éligibles détaillées dans les articles ci-après.
																									
																									
																									L'utilisation du Service CHUKO MANGA nécessite la création préalable d'un Compte Personnel ou Pro par l'Utilisateur et que celui-ci s'y connecte lors de son accès au Site et/ou aux Applications. Une fois la connexion effectuée depuis l'onglet "se connecter", le Service CHUKO MANGA et ses fonctionnalités associées varient en fonction de la qualité de l’Utilisateur (Utilisateur connecté à son compte Personnel ou Pro, Annonceur "Particulier" ou "Professionnel") et du support de communication utilisé (Site Internet ou Applications).
																									
																									
																									Le Service CHUKO MANGA inclut les fonctionnalités décrites dans l’article 2.1 et les fonctionnalités décrites ci-après :
																									
																									
																									2.2.1 Fonctionnalités ouvertes aux Utilisateurs sur le moteur de recherche, les pages d’Annonces et les profils Annonceurs
																									
																									
																									Depuis les pages d’Annonces :
																									
																									la mise en contact avec les Annonceurs
																									le Paiement Sécurisé pour les Annonces dans les catégories éligibles à la Transaction visées aux articles 3 à 5 des présentes CGU.
																									la mise en relation avec un professionnel de l'immobilier ou de l'automobile en vue d'être accompagné dans un projet de vente
																									signaler un abus
																									
																									Depuis la page profil des Annonceurs :
																									
																									le suivi du profil d'un Annonceur en cliquant sur le bouton "Suivre" situé sur la page profil de l'Annonceur
																									signaler un abus
																									consulter les annonces de l’Annonceur
																									Depuis le moteur de recherche :
																									
																									la sauvegarde d'Annonces
																									la sauvegarde de recherches
																									Depuis la page d'accueil :
																									
																									l'Assistant intelligent CHUKO MANGA dans les sous catégories éligibles
																									Depuis l’espace “Favoris” (sur les Applications) :
																									
																									accès aux Annonces sauvegardées
																									accès aux recherches sauvegardées
																									accès aux Annonces des Vendeurs suivis
																									Depuis l’espace “Mes recherches” (sur desktop) :
																									
																									accès aux recherches sauvegardées
																									Depuis l’espace “Favoris” (sur desktop) :
																									
																									accès aux Annonces sauvegardées
																									accès aux Annonces des Vendeurs suivis
																									2.2.2 Fonctionnalités relatives à la gestion des Annonces par les Annonceurs Particuliers
																									
																									
																									Depuis toutes les pages du Site et des Applications :
																									
																									le dépôt d’Annonces
																									lors du dépôt d'Annonces dans les catégories "locations" ou "colocations", les Annonceurs Particuliers sont invités à vérifier leur identité via le service de notre partenaire Qasa. L'Annonceur Particulier doit transmettre au partenaire les données d'identification suivantes :
																									(i) Une photo d'un titre officiel d'identité au nom de l'Annonceur Particulier, en cours de validité
																									
																									(ii) Une capture photo du visage de l'Annonceur Particulier
																									
																									
																									Ces éléments feront l'objet d'une vérification par notre partenaire Qasa dans un délai de 24 heures ouvrées. Des pièces complémentaires pourront être demandées par le partenaire dans certains cas afin de lutter contre la fraude.
																									
																									
																									L'Annonceur Particulier est seul responsable de l'exactitude des données d'identification soumises.
																									
																									
																									L'Annonceur Particulier dont l'identité aura été vérifiée et validée par notre partenaire Qasa pourra recevoir les pièces justificatives du Dossier Locataire des Utilisateurs.
																									
																									En cas de problème au cours de la vérification d'identité, l'Annonceur pourra contacter le service client de notre Partenaire Qasa: support@qasa.fr
																									
																									
																									
																									Depuis l'onglet "Mes annonces" du Compte Personnel :
																									
																									la suppression d'Annonce : il est possible de supprimer plusieurs Annonces en une action
																									la modification d'Annonce
																									la géolocalisation du Bien
																									la prolongation des Annonces à l'issue de la durée maximale de 60 jours ou 180 jours selon les catégories (sauf pour certaines catégories pour lesquelles la durée de vie des annonces est illimitée)
																									la souscription d'Option(s) Payante(s) par carte bancaire et/ou par crédits
																									l'achat de crédits par carte bancaire (fonctionnalité non disponible depuis les Applications)
																									la mise en pause d’Annonce pendant une durée illimitée : l'Annonce mise en pause n'apparaîtra plus dans les résultats de recherche mais seulement dans les résultats des recherches précédemment sauvegardées par les Utilisateurs. L’Annonceur ayant mis en pause son Annonce ne pourra plus être contacté (sauf si une conversation a commencé avant la date de mise en pause de l'Annonce concernée) et aucun achat via le paiement sécurisé ne pourra être réalisé depuis l’Annonce mise en pause (sauf si une Transaction est déjà en cours sur l'Annonce en pause). L’Annonce mise en pause ne peut être modifiée par l'Annonceur. La mise en pause d’une Annonce n’interrompt pas la durée de vie de celle-ci ni les Options Payantes éventuellement souscrites pour la mise en avant de ladite Annonce. L'Annonceur peut réactiver son Annonce à tout moment.
																									2.2.3 Fonctionnalités relatives à la gestion des Annonces par les Annonceurs Professionnels
																									
																									
																									Depuis toutes les pages du Site et des Applications :
																									
																									le dépôt d'Annonce en s’acquittant de frais d’insertion (sauf pour les Annonceurs Professionnels bénéficiaires d’un Pack Auto ou un Pack CHUKO MANGA Immo).
																									le dépôt d'Annonce par un Annonceur Professionnel dans les catégories "Voitures" ou "Utilitaires" à partir de la plaque d'immatriculation du véhicule génère automatiquement le Rapport d'historique Autoviza® du véhicule (un produit de la société New General Company, “NGC”, immatriculée au RCS de Paris au n° 522 869 890, siège social : 25 rue de Ponthieu 75008 Paris). Le Rapport historique Autoviza® est réservé aux Annonceurs titulaires d’un certificat d’immatriculation français, ayant enregistré une déclaration d’achat du véhicule préalablement au dépôt de l’Annonce. En déposant une Annonce à partir de la plaque d'immatriculation depuis son Compte Pro l'Annonceur: -certifie sur l'honneur être le titulaire du certificat d’immatriculation du véhicule (“carte grise”) ou son ayant-droit, - donne mandat à NGC, en son nom et pour son compte, de demander à des tiers, d’accéder, de consulter et de télécharger toutes données techniques et administratives relatives au véhicule (comme par exemple : marque, modèle, date de mise en circulation, puissance fiscale, résultats de contrôles techniques, résultats d’expertises provenant d’experts en automobiles auprès d’assureurs, kilométrages, opérations de maintenance et réparations, et toutes autres informations utiles à la transparence d’une transaction de vente de véhicule), ainsi que de constituer et d'héberger un Rapport historique Autoviza® du véhicule, - autorise NGC à transmettre à LBC France un lien sécurisé permettant de consulter le Rapport d’historique Autoviza® de son véhicule depuis l’Annonce du véhicule, étant précisé que LBC France ne stocke pas de copie du Rapport d’historique Autoviza®, - autorise la réalisation par NGC, à partir de ces données, de statistiques anonymes, ainsi que leur diffusion. A tout moment l’Annonceur peut décider de supprimer le Rapport historique Autoviza® de l’Annonce diffusée. Il peut retirer le Rapport historique directement depuis son Annonce. Les liens vers les Rapports historiques Autoviza® de véhicules qui ont été vendus et dont l’Annonceur n’est plus le Titulaire sont désactivées. Un Rapport historique Autoviza® a une durée maximale de 10 semaines, à la suite de laquelle un message s’affiche lors de sa consultation indiquant : "Avertissement : le rapport historique Autoviza® pour ce véhicule a été établi il y plus de 10 semaines et peut donc comporter des éléments ayant considérablement variés".
																									Depuis l'onglet "Mes annonces" du Compte Pro :
																									
																									la suppression d'Annonce : il est possible de supprimer plusieurs Annonces en une action,
																									la modification d'Annonce
																									la géolocalisation du bien
																									la prolongation des Annonces à l'issue de la durée maximale de 60 jours ou 180 jours selon les catégories (sauf pour les Annonceurs Professionnels bénéficiaires d’un Pack Auto ou un Pack CHUKO MANGA Immo).
																									la souscription d'Option(s) Payante(s) par carte bancaire
																									l’achat de crédit par carte bancaire (fonctionnalité non disponible depuis les Applications)
																									la mise en pause d’Annonce pendant une durée illimitée : l'Annonce mise en pause n'apparaîtra plus dans les résultats de recherche mais seulement dans les résultats des recherches précédemment sauvegardées par les Utilisateurs. L’Annonceur ayant mis en pause son Annonce ne pourra plus être contacté (sauf si une conversation a commencé avant la date de mise en pause de l'Annonce concernée) et aucun achat via le Paiement sécurisé ne pourra être réalisé depuis l’Annonce mise en pause (sauf si une Transaction est déjà en cours sur l'Annonce en pause). L’Annonce mise en pause ne peut être modifiée par l'Annonceur. La mise en pause d’une Annonce n’interrompt pas la durée de vie de celle-ci ni les Options Payantes éventuellement souscrites pour la mise en avant de ladite Annonce. L'Annonceur peut réactiver son Annonce à tout moment.
																									2.2.4 Fonctionnalités relatives à la gestion du Compte Pro par les Annonceurs Professionnels
																									
																									
																									Depuis l’onglet “Paramètres” :
																									
																									la gestion (actualisation, modification etc.), à tout moment, des informations personnelles renseignées lors de la création du Compte Pro (informations obligatoires : civilité, nom, prénom, adresse mail, mot de passe)
																									la gestion de la réception des Notifications depuis les Applications.
																									Depuis l’onglet “Mes Annonces” :
																									
																									le suivi des options Payantes souscrites ;
																									la liste des Annonces déposées.
																									Depuis l’onglet “Mes achats” :
																									
																									crédits achetés et utilisés.
																									Depuis l’onglet “Contacts”: centralisation et gestion des demandes de contact d’Utilisateurs générées via les Annonces.
																									Depuis la page professionnelle de l’Annonceur Professionnel :
																									
																									la gestion de l'affichage des avis Google pour les Annonceurs de la catégorie Véhicules : parmi les avis considérés comme les plus utiles par Google, les trois avis les plus récents seront affichés par ordre chronologique sur la Page de l'Annonceur Professionnel s'il est référencé sur Google Maps. Ce dernier a la possibilité de paramétrer cet affichage, notamment de le désactiver, en modifiant sa page professionnelle. La moyenne des avis ainsi que le nombre total d'avis reçus par l'Annonceur Professionnel référencé sur Google Maps seront également affichés sur ladite page de l'Annonceur Professionnel. Les Utilisateurs souhaitant consulter l'ensemble des avis concernant l'Annonceur Professionnel seront redirigés vers le site de Google Maps. Les Utilisateurs peuvent prendre connaissance des Règles de Google applicables aux avis.
																									la gestion de l'affichage des avis Opinion System pour les Annonceurs de la catégorie Immobilier : les trois avis les plus récents seront affichés par ordre chronologique sur la page de l'Annonceur Professionnel s'il est référencé sur Opinion System. Ce dernier a la possibilité de paramétrer cet affichage, notamment de le désactiver, en modifiant sa page professionnelle. La moyenne des avis ainsi que le nombre total d'avis reçus par l'Annonceur Professionnel référencé sur Opinion System seront également affichés sur ladite page de l'Annonceur Professionnel et au sein de ses Annonces. Les Utilisateurs souhaitant consulter l'ensemble des avis concernant l'Annonceur Professionnel seront redirigés vers le site d'Opinion System. Les Utilisateurs peuvent prendre connaissance des Règles d'Opinion System applicables aux avis.
																									2.2.5 Fonctionnalités relatives à la gestion du Compte Personnel pour les Utilisateurs
																									
																									
																									Depuis l’onglet “Profil & Espaces” :
																									
																									
																									la possibilité d’ajouter une photographie de profil, de la modifier et de la supprimer. Celle-ci sera visible par les autres Utilisateurs sur le profil public de l'Utilisateur concerné et sur chacune de ses Annonces en ligne.
																									la possibilité d’ajouter et de modifier le nom d’Utilisateur
																									la possibilité d’éditer le Profil candidat : le “Profil candidat” désigne le profil que l’Utilisateur candidat à une offre d'emploi a la possibilité de créer. Afin que le profil soit finalisé, l’Utilisateur doit renseigner le type d’emploi qu'il recherche, sa localisation dans un rayon pouvant aller jusqu'à 100 kilomètres et la dernière expérience professionnelle qu'il souhaite mettre en avant. L’Utilisateur a la possibilité de :
																									rendre son profil visible ou non des recruteurs et de télécharger son CV.
																									modifier ou de supprimer son Profil candidat à tout moment à partir de son Compte Personnel.
																									la possibilité de créer le Dossier locataire : Depuis l'Espace locataire accessible dans la rubrique Profil & Espaces du Compte Personnel ou depuis le parcours de contact d'une Annonce déposée dans les catégories de locations et colocations immobilières, l'Utilisateur peut créer son Dossier locataire. Le Dossier locataire est composé des 2 éléments suivants : Profil locataire (Fiche de renseignements comprenant "Coordonnées", "Présentation", "Situation professionnelle", "Garantie", "Mon projet") et Pièces justificatives (Documents justificatifs tels que pièce d’identité, justificatif de domicile, justificatifs professionnels, justificatifs de ressources, justificatifs de garantie, ou toute pièce considérée comme utile par l'Utilisateur). Le Dossier locataire peut être partagé lorsque l'Utilisateur envoie un premier message via l'Annonce ou depuis la conversation avec le bailleur dans la Messagerie. Les Pièces justificatives ne peuvent être adressées qu’aux bailleurs professionnels justifiant d’une certaine ancienneté sur CHUKO MANGA ou aux bailleurs dont l'identité a été vérifiée et validée via le service de vérification d'identité du partenaire Qasa. Depuis son Espace Locataire, l'Utilisateur a la possibilité de :
																									supprimer son Dossier locataire.
																									gérer l'accès à son Dossier locataire : retirer l'accès à tout Annonceur auquel il aurait adressé son Dossier locataire.
																									compléter ou modifier les informations de son Profil locataire, ajouter ou supprimer des Pièces justificatives.
																									
																									Depuis l’onglet “Paramètres” :
																									
																									
																									la gestion de la réception des Notifications (sur leur Application et/ou par mail).
																									la gestion (actualisation, modification etc.), à tout moment, des informations personnelles renseignées lors de la création du Compte Personnel :
																									Informations obligatoires : nom, prénom, email, numéro de téléphone portable (propre à chaque Compte Personnel), mot de passe.
																									Informations facultatives : civilité, âge, centre d'intérêt, secteur d'activité, etc.
																									
																									Depuis l’onglet “Réservation de vacances” :
																									
																									la liste des séjours réservés.
																									la liste des séjours achevés.
																									la liste des séjours annulés.
																									
																									Depuis l’onglet “Transactions” :
																									
																									le suivi et l’historique des ventes et des achats réalisés via le Paiement Sécurisé.
																									Depuis l’onglet “Mes Annonces” :
																									
																									la liste des Annonces déposées ;
																									le suivi des options Payantes souscrites ;
																									la possibilité d’accéder à l’Espace Bailleur : l’Espace Bailleur désigne l’espace permettant à tout Annonceur Particulier ou Professionnel de retrouver l’ensemble des dossiers de candidatures et Profils locataires leur étant adressés.
																									
																									Depuis l’onglet “Mes achats” :
																									
																									crédits achetés et utilisés.
																									2.2.6 Fonctionnalités relatives à la Messagerie
																									
																									
																									Accès à la Messagerie
																									
																									
																									Tous les Utilisateurs titulaires d’un Compte Personnel ainsi que les Annonceurs Professionnels actifs dans les catégories Multimédia, Maison, Mode, Loisirs, Animaux, Matériel Professionnel, Services, Vacances, Voitures, Immobilier peuvent accéder à la Messagerie.
																									
																									
																									Pour les Annonceurs Professionnels actifs dans les catégories Immobilier, Emploi, toute mise en relation s’effectue par téléphone et/ ou par email en cliquant sur le bouton “Contacter” ou “Message” situé à côté de l’Annonce.
																									
																									
																									Pour les Annonceurs Professionnels actifs dans la catégorie Voitures la mise en relation se fait uniquement par la Messagerie.
																									
																									
																									Fonctionnement de la Messagerie
																									
																									
																									Les Utilisateurs, connectés à leur Compte Personnel ou leur Compte Pro pour les Annonceurs Professionnels précités, peuvent via la Messagerie :
																									
																									envoyer un message privé aux Annonceurs éligibles en cliquant sur le bouton “Contacter “ ou “ Message ” situé sur l’Annonce.
																									envoyer, accepter ou refuser des Offres de négociation via le Paiement Sécurisé. Pour en savoir plus, veuillez vous référer à l’article 3.3.
																									accéder à l’historique de leurs conversations.
																									accéder aux différentes étapes de la Transaction en cliquant sur “Voir plus de détails".
																									Les Utilisateurs et Annonceurs Particuliers sont informés de tout nouveau message et/ou Offre de négociation de prix reçu, par courrier électronique à l’adresse mail renseignée lors de l’ouverture de leur Compte Personnel et/ou par une Notification reçue via les Applications selon les choix de réception de Notifications.
																									
																									
																									Toute réponse aux courriers électroniques de notification CHUKO MANGA informant les Utilisateurs de la réception d'un nouveau message dans la Messagerie sera visible dans la Messagerie (notamment réponses automatiques telles que les messages d'absence programmés sur les boîtes mails des Utilisateurs).
																									
																									
																									En outre :
																									
																									Les adresses email des Utilisateurs titulaires d’un Compte Personnel utilisant la Messagerie ne sont pas visibles par leur interlocuteurs.
																									Dans le cadre de l’utilisation de la Messagerie via un Compte Pro, tous les membres dudit Compte créés par l’Administrateur du Compte Pro auront accès à l’ensemble des messages privés échangés via le Compte Pro et pourront y répondre. Le consentement à l'analyse automatique des correspondances donné par un des membres du Compte Pro est lié audit Compte et s'applique à l'ensemble des messages privés échangés via le Compte Pro par les membres.
																									Règles relatives à l’utilisation de la Messagerie
																									
																									
																									Les Utilisateurs de la Messagerie sont seuls responsables du contenu des messages privés échangés via la Messagerie.
																									
																									
																									Les Annonceurs et Utilisateurs utilisant la Messagerie s’engagent à :
																									
																									adopter un comportement respectueux et loyal à l’égard de leurs interlocuteurs.
																									reconnaître que l’envoi de messages privés via la Messagerie a pour finalité principale l’échange d’informations relatives à des Annonces.
																									ne pas utiliser la Messagerie pour l’envoi de messages ou de photos contraires à la Charte de bonne conduite.
																									LBC France utilise un logiciel automatisé permettant de détecter de manière automatisée, grâce à des algorithmes, tout propos contraire aux bonnes mœurs et à l’ordre public, inapproprié, insultant ou diffamatoire communiqué par un Utilisateur via la Messagerie. Dans l’hypothèse où un message privé contenant de tels propos est détecté par ledit logiciel automatisé, le message privé pourra être automatiquement bloqué et ne parviendra pas à l’Utilisateur destinataire.
																									
																									
																									LBC France n’a pas accès au contenu des messages privés, y compris ceux qui sont bloqués par le logiciel automatisé.
																									
																									
																									Nous recommandons aux Utilisateurs de faire preuve de vigilance dans la communication à leur interlocuteur d’informations personnelles comme leurs emails ou leurs numéros de téléphone.
																									
																									
																									
																									2.2.7 Fonctionnalités relatives à la gestion des Notifications
																									
																									
																									Conditions de réception des Notifications
																									
																									
																									Seuls les Utilisateurs et les Annonceurs connectés à leur Compte Personnel et/ou Pro peuvent recevoir des Notifications dans les cas suivants :
																									
																									réception de nouveaux messages via la Messagerie (depuis leur Application et/ou par email) ;
																									mise en favoris de leur Annonce (depuis leur Application et/ou par email) ;
																									nouveaux résultats correspondant aux Recherches sauvegardées (depuis leur Application et/ou par email) ;
																									renouvellement/ prolongation/ expiration de(s) Annonce(s) (uniquement depuis leur Application) ;
																									nouveau dépôt d'Annonce réalisé par un Annonceur suivi (uniquement par email).
																									
																									Toutefois, il est rappelé que :
																									
																									les Utilisateurs et les Annonceurs Professionnels des catégories Emploi, Immobilier et certains Professionnels de la catégorie Véhicules ne peuvent pas recevoir de Notifications de nouveaux messages via la Messagerie, celle-ci ne leur étant pas accessible.
																									les Utilisateurs et les Annonceurs Professionnels disposant d’un Pack Import ne recevront pas de Notifications pour le renouvellement, la prolongation ou la suppression de leurs annonces.
																									
																									Paramétrage des Notifications
																									
																									
																									Tout Utilisateur peut gérer la réception des notifications via le système d’exploitation de son terminal mobile :
																									
																									
																									Pour les Utilisateurs de l’Application Android : leur terminal (téléphone ou tablette) leur permet d’accepter et/ou refuser la réception de toutes Notifications. Par défaut, la réception des Notifications est activée sur l’Application Android.
																									Pour les Utilisateurs de l’Application iOS : leur terminal (iPhone ou iPad) leur permet d’accepter et/ou refuser la réception de toutes Notifications. Par défaut, la réception de Notifications est désactivée sur l’Application iOS.
																									
																									En complément, tout Utilisateur peut gérer la réception des Notifications (par email et/ou sur son Application) au sein de son Compte Utilisateur tel que décrit dans les articles 2.2.4 et 2.2.5.
																									
																									
																									Concernant la gestion des notifications résultant du suivi des Annonceurs, tout Utilisateur peut désactiver le suivi d'un Annonceur via la page profil de ce dernier afin d’annuler les notifications par email.

				</p>

			</div>

			<h2 class="toggle" data-target="content2">
				<span class="arrow-icon">&#9660;</span>
				Article 3 : Utilisation du Paiement Sécurisé pour les Biens de consommation</h2>


			<div id="content2" class="content-cgv">
			<div class="text-cgv">
				<p>Le Paiement Sécurisé sur le Site et les Applications est ouvert aux Annonces de Biens de consommation rendues éligibles à la Transaction et référencées au sein des sous-catégories suivantes :
																				
																			Livres & Goodies & Figurines
																				
																				
																				En utilisant le Paiement Sécurisé, les Utilisateurs déclarent avoir pris connaissance et accepté les conditions générales de notre prestataire de paiement Adyen et entrer dans une relation contractuelle avec ce dernier lors du premier dépôt de leur Annonce dans une des sous-catégories précitées.</p>
				<h3>
					3.1 Annonces éligibles à la Transaction</h3>
				<p>Les Offres de vente de Biens éligibles à la Transaction via le Paiement Sécurisé correspondent respectivement à :
										
										toute nouvelle Annonce déposée par les Vendeurs Particuliers dans l’une des sous-catégories précitées.
										toute nouvelle Annonce déposée par les Vendeurs Professionnels qui activent cette fonctionnalité dans l’une des sous-catégories précitées.</p>
				<h3>
					Offre d’achat direct</h3>

				<p>3.2.1 Émission de l’Offre d’achat direct
										
										
										Sur les Annonces éligibles, l'Acheteur connecté à son Compte Personnel peut émettre une Offre d’achat direct au prix fixé par le Vendeur en cliquant sur "Acheter" depuis l'Annonce du Vendeur.
										
										
										3​.2.2 Offre d'achat direct en lot
										
										
										Lorsque les Annonces sont éligibles à l'Offre d'achat direct, l'Acheteur a la possibilité d'acquérir un lot de plusieurs produits, à l'exception de la sous-catégories Vins & Gastronomie, depuis la page d'un Vendeur particulier ou sur une Annonce diffusée par un Vendeur particulier en cliquant sur le bouton "Créer un lot". L'Acheteur devra sélectionner les produits qu'il souhaite acquérir en cliquant sur "Ajouter". Une fois le lot complet, l'Acheteur devra cliquer sur "Acheter le lot".
										
										L​e Vendeur recevra une notification lui indiquant que l'Acheteur souhaite acheter un lot de produits. Il pourra alors confirmer la disponibilité de l'intégralité du lot ou annuler l'Offre d'achat direct. En cas d'annulation pour indisponibilité du lot complet, l'Acheteur devra procéder à une nouvelle Offre d'achat direct en adaptant la sélection.
										
										
										3.2.3 Acceptation de l’Offre d’achat direct
										
										
										L’Acheteur est réputé accepter l’Offre de prix du Vendeur dès qu’il finalise son paiement selon les modalités décrites à l’article 3.7.</p>
				<h3>
					3.3 Offre de négociation du prix</h3>


				<p>Sur les Annonces éligibles, l'Acheteur ou le Vendeur Particulier peuvent choisir d’envoyer une Offre d'achat ou de vente dont le prix est différent du prix figurant sur l’Annonce du Vendeur.
										
										
										3.3.1 Émission d’une Offre de négociation du prix
										
										
										Par l’Acheteur
										
										
										L’Acheteur peut émettre une Offre de négociation de prix depuis la conversation avec le Vendeur Particulier dans la Messagerie.
										
										
										Lorsque les Annonces sont éligibles, l'Acheteur a la possibilité d'acquérir un lot de plusieurs produits, à l'exception de la sous-catégories Vins & Gastronomie, depuis la page d'un Vendeur particulier ou sur une Annonce diffusée par un Vendeur particulier en cliquant sur le bouton "Créer un lot". L'Acheteur devra sélectionner les produits qu'il souhaite acquérir en cliquant sur "Ajouter". Une fois le lot complet, l'Acheteur pourra cliquer sur "Faire une offre".
										
										
										Une fois un message envoyé dans la conversation, l’Acheteur a la possibilité de cliquer sur “Faire une offre” qui lui permettra d’indiquer sa proposition de prix.
										
										
										Le Vendeur Particulier dispose d'un délai de 48 heures pour accepter ou refuser l'Offre. Il peut aussi proposer une nouvelle Offre après avoir refusé l'Offre émise par l'Acheteur. Toute offre de négociation de prix émanant de l’Acheteur ne peut pas être inférieure à 60% du prix initialement fixé dans l’Annonce par le Vendeur Particulier.
										
										
										Par le Vendeur
										
										
										Le Vendeur Particulier peut émettre une Offre de négociation de prix depuis la conversation avec l’Acheteur dans la Messagerie.
										
										
										Une fois un message envoyé dans la conversation, le Vendeur a la possibilité de cliquer sur “faire une offre” qui lui permettra d’indiquer sa proposition de prix.
										
										
										Le Vendeur Particulier a la possibilité d’émettre une nouvelle Offre de négociation de prix qui annulera celle précédemment envoyée.
										
										
										Le Vendeur Particulier ne peut pas modifier une Offre qu’il a émise. S’il souhaite apporter des modifications à une Offre de négociation de prix, le Vendeur Particulier doit émettre une nouvelle offre depuis la Messagerie.
										
										
										3.3.2 Acceptation de l’Offre de négociation de prix
										
										
										Par le Vendeur
										
										
										Dès envoi d'une Offre de négociation de prix par un Acheteur, le Vendeur Particulier en est informé par une Notification dans sa Messagerie et reçoit un récapitulatif de l'Offre. Le Vendeur Particulier dispose de 48 heures à compter de l'envoi de l'Offre par l'Acheteur pour accepter ou refuser l’Offre de négociation de prix. A défaut de réponse dans ce délai, l'Offre est réputée refusée.
										
										
										L'acceptation d’une Offre entraîne le refus de toute autre Offre reçue pour le même Bien.
										
										
										Une fois acceptée, l’Acheteur dispose d’un second délai de 48 heures pour procéder au paiement. A défaut de paiement dans ce délai l'Offre sera réputée refusée.
										
										
										Par l’Acheteur
										
										
										Dès l’envoi d'une Offre de négociation de prix par un Vendeur Particulier, l’Acheteur en est informé par une Notification dans sa Messagerie. L’Acheteur dispose de 48 heures à compter de l’envoi de l'Offre par le Vendeur Particulier pour l’accepter ou la refuser. A défaut de réponse dans ce délai l'Offre sera réputée refusée.
										
										
										Une fois acceptée, l’Acheteur dispose d’un second délai de 48 heures pour procéder au paiement. A défaut de paiement dans ce délai l'Offre sera réputée refusée.</p>
				<h3>
					3.4 Choix de la réception du Bien via un Service de Livraison

					<p>Durant le parcours de paiement sécurisé, l’Acheteur a la possibilité de choisir un mode de réception du Bien via un Service de Livraison, selon les choix effectués par le Vendeur lors du dépôt de son Annonce, puis :
												
												dans le cas d'une livraison via le Service de Livraison Mondial Relay ou le Service de Livraison Shop2Shop by Chronopost : il doit choisir son point relais de livraison puis renseigner ses informations d’identité.
												dans le cas d’une livraison via le Service de Livraison La Poste : il doit renseigner son adresse postale.
												pour tout autre mode de livraison choisi par le Vendeur lors du dépôt de son Annonce : il doit renseigner son identité et son adresse de livraison qui sera transmise au Vendeur pour l'envoi du Bien acheté. Dans l'hypothèse où l'Acheteur sélectionnerait plusieurs produits pour constituer un lot, le Vendeur ne pourra opter pour un mode de livraison autre que ceux disponibles dans le cadre du Service de Livraison.
												Délai de confirmation de la réception du Bien
												
												
												L’Acheteur a 10 jours, à compter de la confirmation d'expédition du Bien, pour confirmer la réception du Bien.
												
												
												En outre, l'Acheteur dispose d'un délai supplémentaire de 3 jours à compter de la réception du Bien, pour confirmer la conformité du Bien reçu.
												
												
												L’Acheteur est tenu d’accepter le Bien dès lors qu’il est conforme à l’Annonce du Vendeur Particulier et à la description éventuelle faite par ce dernier dans le cadre de ses échanges avec l’Acheteur. Dans ce cas, l’Acheteur s’engage à confirmer la bonne réception du Bien en cliquant sur le bouton correspondant dans sa conversation avec le Vendeur Particulier dans la Messagerie.
												
												
												A défaut de confirmation de réception au terme du délai de 10 jours, l’Acheteur sera réputé avoir reçu et accepté le Bien, et le paiement du prix du Bien sera automatiquement transféré sur le compte bancaire du Vendeur Particulier, sous réserve pour ce dernier d'avoir préalablement renseigné son IBAN dans la page "Mes informations personnelles" de son Compte Personnel. Le montant apparaîtra sur le compte bancaire du Vendeur Particulier dans un délai compris entre 3 et 6 jours ouvrés (délais moyens de traitement par notre prestataire de paiement et de traitement bancaire).</p>
					<h3>
						3.5 Choix d’une remise en main propre du Bien par le Vendeur Particulier (face-à-face)</h3>

					<p>Durant le parcours de Paiement sécurisé, l’Acheteur a la possibilité de choisir un mode de remise du Bien en main propre par le Vendeur Particulier.
												
												
												Pour cela, l’Acheteur devra :
												
												convenir d’un rendez-vous avec le Vendeur Particulier via la Messagerie pour la remise du Bien.
												devra se munir d’un téléphone portable disposant d’une connexion Internet et connecté à son Compte Personnel afin d’effectuer les actions nécessaires au sein de la Messagerie le jour du rendez-vous.
												Confirmation de remise du Bien
												
												
												Lors du rendez-vous convenu entre l’Acheteur et le Vendeur Particulier, il appartient à l’Acheteur de vérifier que le Bien est conforme et lui convient, avant de déclencher le paiement du Vendeur Particulier. Une fois le paiement déclenché, l’Acheteur sera réputé avoir accepté le Bien.
												
												
												L’Acheteur est tenu d’accepter le Bien dans la mesure où il est conforme à l’Annonce du Vendeur Particulier et à la description éventuelle faite par ce dernier dans le cadre de ses échanges avec l’Acheteur. Dans ce cas, l’Acheteur s’engage à confirmer la bonne remise du Bien en cliquant sur le bouton correspondant dans sa conversation avec le Vendeur Particulier dans la Messagerie.
												
												
												Annulation de la Transaction
												
												
												A l’issue d’un délai de trente (30) jours à compter de la confirmation de la disponibilité du Bien par le Vendeur et si la remise du Bien n’a pas eu lieu, la Transaction expirera automatiquement. L’Acheteur sera remboursé du montant total de la Transaction. 
												
												Avant l’expiration automatique de la Transaction, l’Acheteur et le Vendeur ont par ailleurs la possibilité d’annuler la Transaction, depuis la Messagerie.

					</p>
					<h3>
						3.6 Choix du retrait du Bien chez le Vendeur Professionnel</h3>

					<p>Durant le parcours d'achat, l’Acheteur a la possibilité de choisir un mode de retrait du Bien chez le Vendeur Professionnel. Cette fonctionnalité est ouverte à partir du moment où le Vendeur Professionnel :
												
												a activé le retrait sur place comme mode de remise du Bien lors du dépôt de l’Annonce.
												a renseigné l'adresse exacte de retrait à laquelle l'Acheteur devra se rendre pour récupérer le Bien. L'adresse exacte renseignée par le Vendeur Professionnel ne sera pas visible sur l'Annonce, elle sera communiquée à l'Acheteur une fois qu'il aura procédé au paiement du Bien.
												Confirmation de retrait du Bien chez le Vendeur Professionnel
												
												
												Une fois la disponibilité du Bien confirmée, l'Acheteur dispose d'un délai de dix (10) jours pour retirer le Bien chez le Vendeur Professionnel.
												
												
												Le jour du rendez-vous, il appartient à l'Acheteur de vérifier que le Bien est conforme et lui convient. Le cas échéant, l'Acheteur devra transmettre au Vendeur professionnel le code de retrait associé à la Transaction, afin de finaliser celle-ci. Le code de retrait est accessible depuis la Messagerie, en cliquant sur le bouton "L'article vous convient-il ?", au sein de la conversation correspondant à la Transaction. Après avoir cliqué sur ledit bouton, une fenêtre s'ouvre avec le code de retrait à transmettre au Vendeur Professionnel. Après avoir communiqué le code de retrait au Vendeur professionnel, l'Acheteur devra cliquer sur le bouton "J'ai donné le code au Vendeur".
												
												
												Dans l'hypothèse où le Bien ne convient pas à l'Acheteur, il lui appartient de cliquer sur "Demander l'annulation de l'achat" et ne pas retirer le Bien auprès du Vendeur Professionnel. La Transaction sera automatiquement annulée et l'Acheteur remboursé.</p>
					<h3>
						3.7 Paiement</h3>


					<p>Afin d’utiliser le Paiement Sécurisé, l’Acheteur déclare avoir pris connaissance et accepté les conditions générales de notre prestataire de paiement, Adyen.
												
												
												Afin de procéder au paiement, L'Acheteur peut payer :
												
												à l'aide de son Porte-Monnaie, ou
												par carte bancaire ou Apple Pay, ou
												par le biais de la Solution de paiement en plusieurs fois.
												La finalisation du paiement du Bien par l'Acheteur vaut engagement ferme de contracter avec le Vendeur en considération de la description du Bien dans l’Annonce et dans ses éventuels échanges avec le Vendeur.
												
												
												3.7.1 Paiement par carte bancaire ou Apple Pay
												
												
												Le traitement du paiement de l’Acheteur et de ses données de carte bancaire est effectué par notre prestataire Adyen.
												
												
												L’Acheteur est seul responsable de la transmission des données de sa carte de crédit ou de débit.
												
												
												A l’issue du paiement, les montants versés par l’Acheteur sont conservés de manière sécurisée sur le Compte Séquestre le temps de la finalisation de la Transaction.
												
												
												L'Acheteur donne mandat à LBC France, seule habilitée à donner ordre au Compte Séquestre de procéder au paiement au bénéfice du Vendeur Particulier du montant du Bien dès lors que l’Acheteur aura confirmé la bonne réception du Bien ou est réputé l’avoir reçu et accepté.
												
												
												3.7.2 Paiement par le Porte-Monnaie
												
												
												LBC France met à disposition de ses Acheteurs et Vendeurs Particuliers, un Porte-Monnaie virtuel fonctionnant comme un compte de paiement, ouvert au nom de l'Utilisateur sur le Site et sur lequel :
												
												les sommes afférentes à ses ventes sont versées.
												les sommes afférentes à ses achats peuvent être réutilisées et décaissées dans le cadre d'une nouvelle Transaction dès lors que le montant présent sur le Porte-Monnaie de l'Acheteur est suffisant pour couvrir le montant de la Transaction.
												Le Porte-Monnaie n'est pas un compte bancaire et ne doit pas être utilisé comme tel.
												
												
												L'Acheteur donne mandat à LBC France, seule habilitée à donner ordre au Compte Séquestre de procéder au paiement au bénéfice du Vendeur Particulier du montant du Bien dès lors que l’Acheteur aura confirmé la bonne réception du Bien ou est réputé l’avoir reçu et accepté.
												
												
												3.7.3 Paiement en plusieurs fois
												
												
												L'Acheteur a la possibilité d’utiliser la Solution de paiement en plusieurs fois lui permettant de payer ses achats de 150€ à 2000€ en 3 ou 4 fois par carte bancaire. Dans un tel cas, le traitement des informations renseignées par l’Acheteur est effectué par Oney. Les conditions de ces financements sont définies ici. Afin d’utiliser la Solution de paiement, l’Acheteur déclare avoir pris connaissance et accepté les CGV Oney lors de son achat.</p>
					<h3>
						3.8 Annulation de la Transaction<h3>
							<p>Le Vendeur peut annuler la Transaction tant qu’il n’a pas confirmé la disponibilité du Bien à l’Acheteur.
																
																
																L​'Acheteur a la possibilité d'annuler la Transaction tant que le Vendeur n'a pas confirmé la disponibilité du Bien. Le Vendeur peut annuler la Transaction tant que l'Acheteur n'a pas confirmé la validation de la Transaction et la bonne réception du Bien.
																
																
																Si le Vendeur ne procède pas à l’envoi de son colis et ne confirme pas l'expédition via la Messagerie dans les trois (3) jours ouvrés s'il est Particulier, dans les six (6) jours s'il est professionnel, suivant le paiement par l’Acheteur, la vente sera automatiquement annulée et l’Acheteur sera remboursé du prix total versé (montant du Bien et Frais de livraison). LBC France ne pourra être tenue responsable des suites de la Transaction et ne sera plus en mesure d’intervenir auprès de l’Acheteur et du Vendeur après annulation automatique de la vente pour non-respect du délai d’envoi du colis par le Vendeur.</p>

							<h3>
								3.9 Reception du paiement par le Vendeur<h3>

									<p>Afin de sécuriser les Transactions et protéger les Acheteurs, la somme versée pour l’achat du Bien est conservée de manière sécurisée sur le Compte Séquestre géré par notre prestataire de paiement jusqu’à confirmation par l’Acheteur de la remise du Bien, une fois que ce dernier aura déclenché le paiement du Vendeur Particulier.
																				
																				Pour plus d'informations sur le rôle d'Adyen dans la fourniture des services de paiement cliquez ici.
																				
																				
																				3.9.1 Réception du paiement par le Vendeur Particulier
																				
																				
																				A la suite d'une Transaction finalisée, le Vendeur Particulier devra renseigner les informations suivantes qui feront l'objet d'une vérification par notre prestataire de paiement Adyen afin de recevoir le montant de sa vente sur son Porte-Monnaie :
																				
																				S​es nom et prénom
																				S​on adresse postale
																				S​on adresse email
																				S​a date de naissance
																				U​ne pièce d'identité en cours de validité (Carte nationale d'identité, passeport et permis de conduire au nouveau format) et un RIB peuvent être demandés au Vendeur Particulier dans certains cas, notamment au-delà d'un certain volume de Transactions, afin de lutter contre la fraude.
																				Une fois le montant de la Transaction versé sur le Porte-Monnaie, le Vendeur Particulier pourra alors choisir de réutiliser ce montant dans le cadre d'une nouvelle Transaction en tant qu'Acheteur ou Voyageur ou bien le virer sur son compte bancaire.
																				
																				
																				Si le Vendeur souhaite virer le montant de sa Transaction sur son compte bancaire, il pourra demander à tout moment le virement sur son compte bancaire des sommes figurant sur son Porte-Monnaie. La demande de virement s'effectue depuis la rubrique Porte-Monnaie de son Compte Personnel puis en cliquant sur l’icône "Transférer vers mon compte bancaire". Le virement sera effectué conformément aux délais bancaires, à condition qu’il ait renseigné préalablement son IBAN, ainsi que les informations suivantes : nom, prénom, adresse postale, adresse email, date de naissance et, le cas échéant, joindre sa pièce d’identité et son RIB. Toute modification ou personnalisation sur les documents fournis pourra entraîner un blocage.
																				
																				
																				Le montant apparaît sur le compte bancaire du Vendeur Particulier dans un délai compris entre 3 et 8 jours ouvrés (délais moyens de traitement par notre prestataire de paiement et de traitement bancaire).
																				
																				
																				3.9.2 Réception du paiement par le Vendeur Professionnel
																				
																				
																				A la suite d'une Transaction finalisée, le Vendeur Professionnel recevra le montant de sa Transaction seulement après avoir renseigné son IBAN, ainsi que :
																				
																				les informations d'identification de la société (SIRET, numéro de téléphone, adresse du siège social) ;
																				joindre un RIB ;
																				les informations d’identité du représentant légal personne physique ou celles des actionnaires détenant au moins 25% de l’entreprise (nom, prénom, adresse email).</p>


									<h3>
										3.10 Droit de rétractation et règlement des litiges<h3>

											<p>Dans le cadre du Paiement Sécurisé, l’Acheteur peut :
																								
																								effectuer une réclamation en cas de retard de Livraison, de perte du Colis, d'avarie (dommage apparent rendant le Colis non livrable à l’Acheteur) ou de Colis déclaré à tort réceptionné selon les modalités décrites à l’article 9.3.1 des présentes CGU.
																								effectuer une contestation pour défaut de conformité d’un Bien dès lors que le Bien acheté ne correspond pas substantiellement à la description faite par le Vendeur dans l’Annonce et/ou dans le cadre de ses échanges avec l’Acheteur (ex : le Bien n’est pas celui identifié dans l'Offre de Vente, le Bien est endommagé ou défectueux sans que cela ait été précisé dans l’Annonce du Vendeur et/ou dans le cadre de ses échanges avec l’Acheteur). Pour cela, l’Acheteur devra se référer à l’article 9.3.2 des présentes CGU.
																								exercer son droit de rétractation lorsque le Vendeur est un Professionnel dans un délai de 14 jours francs calendaires révolus à compter de la livraison effective du Bien ou de sa remise en mains propres selon les modalités décrites à l’article 9.1 des présentes CGU.
																								saisir le Service du Médiateur pour tout litige de consommation dont le règlement n’aurait pas abouti selon les modalités décrites à l’article 12.5 des présentes CGU.</p>

											<h3>
												3.11 Frais de Service (Protection Chuko Manga)<h3>

													<p>En contrepartie de l'utilisation du Paiement Sécurisé et de la protection ainsi apportée à l'Acheteur, les Acheteurs devront s'acquitter de Frais de Service, au moment de la finalisation de leur achat en ligne, qui viendront s'ajouter au prix d'achat du Bien convenu avec le Vendeur. Le montant total de ces Frais de Service sera indiqué à l'Acheteur sur le Site avant le paiement en ligne de la Transaction et s'élève jusqu'à 5% du prix d'achat du Bien convenu entre l'Acheteur et le Vendeur (hors coût d'expédition), avec un minimum de 0,99 euros.</p>

</div>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>

												<h2 class="toggle" data-target="content2">
													<span class="arrow-icon">&#9660;</span>
													Article 1 : Objet - Acceptation</h2>

												<div id="content2" class="content-cgv">
													<p></p>
												</div>


											</div>
										</section>


									{% endblock %}
