{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<section class="contact">
		<div class="banner">
			<img src="{{ asset('./images/banner/bannerChuko4.png') }}" alt="Banner Image">
			<div class="category_title">Contact</div>
		</div>
	<h3> Votre message a bien été envoyé</h3>
	</section>
{% endblock %}
