{% extends 'base.html.twig' %}

{% block title %}Votre Annonce
{% endblock %}

{% block body %}
	<section class="contact">
		<div class="banner">
			<img src="{{ asset('./images/banner/bannerChuko4.png') }}" alt="Banner Image">
			<div class="category_title">Votre annonce</div>
		</div>
		<div class="container-msg">
			<h1>
Votre annonce a bien été soumise à nos administrateurs.</br>Elle sera traitée et publiée si elle réunit toutes les conditions, dans un délai de 48 à 72 heures.</br> Nous vous remercions de votre confiance.</h1>


		</div>
	</section>
{% endblock %}


