{% extends 'base.html.twig' %}

{% block title %}Votre Annonce
{% endblock %}

{% block body %}
	<section class="contact">
		<div class="banner">
			<img src="{{ asset('./images/banner/bannerChuko4.png') }}" alt="Banner Image">
			<div class="category_title">Votre annonce</div>
		</div>
		<div class="container">
			<h3>
				Votre annonce a bien été soumise a nos administrateurs.Elle sera traité et posté si elle réunis toutes les conditions dans un délai de 48h à 72. Nous vous remercions de votre confiance</h3>
		</div>
	</section>
{% endblock %}


